.backdrop-zip{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    

}
.zip-modal-UI{
    position: fixed;
    z-index: 400;
    width: 35%;
    left: 35%;
    top: 25%;
    background-color: #fff;
    border-radius: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-family: "industry", sans-serif;
    
    font-style: normal;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Modal-label{
    background-color:#1333A6;
    padding: 10px 50px;
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 28px;
    width: 100%;
}
.zip-text{
    width: 100%;
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}
.change-zip{
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.change-zip input{
    width: 400px;
    height: 50px;
    
    font-size: 30px;
    text-align: center;

}
.change-zip-link{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin-bottom: 50px;
}
.change-zip-link-l{
    font-size: 30px;
    text-decoration: none;
    background-color: #EA2335;
    color: #fff;
    padding: 10px 40px;
    text-align: center;
    margin: 10px 0;
    border-radius: 10px;
}
@media(max-width:3400px){
    .zip-modal-UI{
        position: fixed;
        z-index: 400;
        width: 30%;
        left: 42%;
        top: 20%;
       
        border-radius: 20px;
 

    }
    .Modal-label{
        
        padding: 8px 50px;
        
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        font-size: 25px;
        
    }
    .zip-text{
        
        font-size: 27px;
        margin-top: 30px;
        text-align: center;
    }
    .change-zip input{
        width: 350px;
        height: 45px;
        
        font-size: 27px;
        
    
    }
    .change-zip-link{
        
        margin-bottom: 40px;
    }
    .change-zip-link-l{
        font-size: 26px;
        
        padding: 8px 40px;
        
        margin: 10px 0;
        border-radius: 10px;
    }
}
@media(max-width:3000px){
    .zip-modal-UI{
        position: fixed;
        z-index: 400;
        width: 30%;
        left: 42%;
        top: 20%;
       
        border-radius: 20px;
 

    }
    .Modal-label{
        
        padding: 6px 50px;
        
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        font-size: 23px;
        
    }
    .zip-text{
        
        font-size: 24px;
        margin-top: 30px;
        text-align: center;
    }
    .change-zip input{
        width: 300px;
        height: 40px;
        
        font-size: 24px;
        
    
    }
    .change-zip-link{
        
        margin-bottom: 40px;
    }
    .change-zip-link-l{
        font-size: 23px;
        
        padding: 7px 40px;
        
        margin: 10px 0;
        border-radius: 10px;
    }
}
@media(max-width:2700px){
    .zip-modal-UI{
        position: fixed;
        z-index: 400;
        width: 30%;
        left: 41%;
        top: 25%;
       
        border-radius: 15px;
 

    }
    .Modal-label{
        
        padding: 5px 50px;
        
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        font-size: 20px;
        
    }
    .zip-text{
        
        font-size: 21px;
        margin-top: 30px;
        text-align: center;
    }
    .change-zip input{
        width: 300px;
        height: 35px;
        
        font-size: 21px;
        
    
    }
    .change-zip-link{
        
        margin-bottom: 40px;
    }
    .change-zip-link-l{
        font-size: 20px;
        
        padding: 5px 35px;
        
        margin: 10px 0;
        border-radius: 8px;
    }
}

@media(max-width:2500px){
    .zip-modal-UI{
        position: fixed;
        z-index: 400;
        width: 28%;
        left: 43%;
        top: 27%;
       
        border-radius: 12px;
 

    }
    .Modal-label{
        
        padding: 0px 40px;
        
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        font-size: 18px;
        
    }
    .zip-text{
        
        font-size: 19px;
        margin-top: 25px;
        text-align: center;
    }
    .change-zip input{
        width: 260px;
        height: 30px;
        
        font-size: 21px;
        
    
    }
    .change-zip-link{
        
        margin-bottom: 40px;
    }
    .change-zip-link-l{
        font-size: 18px;
        
        padding: 4px 35px;
        
        margin: 5px 0;
        border-radius: 8px;
    }
}


@media(max-width:2200px){
    .zip-modal-UI{
        position: fixed;
        z-index: 400;
        width: 28%;
        left: 43%;
        top: 25%;
       
        border-radius: 12px;
 

    }
    .Modal-label{
        
        padding: 0px 30px;
        
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        font-size: 16px;
        
    }
    .zip-text{
        
        font-size: 16px;
        margin-top: 20px;
        text-align: center;
    }
    .change-zip input{
        width: 260px;
        height: 25px;
        
        font-size: 16px;
        
    
    }
    .change-zip-link{
        
        margin-bottom: 30px;
    }
    .change-zip-link-l{
        font-size: 16px;
        
        padding: 4px 35px;
        
        margin: 3px 0;
        border-radius: 6px;
    }
}

@media(max-width:1800px){
    .zip-modal-UI{
        position: fixed;
        z-index: 400;
        width: 30%;
        left: 42%;
        top: 25%;
       
        border-radius: 12px;
 

    }
    .Modal-label{
        
        padding: 0px 30px;
        
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        font-size: 16px;
        
    }
    .zip-text{
        
        font-size: 16px;
        margin-top: 20px;
        text-align: center;
    }
    .change-zip input{
        width: 260px;
        height: 25px;
        
        font-size: 16px;
        
    
    }
    .change-zip-link{
        
        margin-bottom: 30px;
    }
    .change-zip-link-l{
        font-size: 16px;
        
        padding: 4px 35px;
        
        margin: 3px 0;
        border-radius: 6px;
    }
}

@media(max-width:1700px){
    .zip-modal-UI{
        position: fixed;
        z-index: 400;
        width: 30%;
        left: 42%;
        top: 25%;
       
        border-radius: 10px;
 

    }
    .Modal-label{
        
        padding: 0px 25px;
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 14px;
        
    }
    .zip-text{
        
        font-size: 14px;
        margin-top: 20px;
        text-align: center;
    }
    .change-zip input{
        width: 260px;
        height: 22px;
        
        font-size: 14px;
        
    
    }
    .change-zip-link{
        
        margin-bottom: 30px;
    }
    .change-zip-link-l{
        font-size: 14px;
        
        padding: 4px 35px;
        
        margin: 3px 0;
        border-radius: 6px;
    }
}

@media(max-width:1500px){
    .zip-modal-UI{
        position: fixed;
        z-index: 400;
        width: 35%;
        left: 39%;
        top: 25%;
       
        border-radius: 10px;
 

    }
    .Modal-label{
        
        padding: 0px 25px;
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 14px;
        
    }
    .zip-text{
        
        font-size: 14px;
        margin-top: 20px;
        text-align: center;
    }
    .change-zip input{
        width: 260px;
        height: 22px;
        
        font-size: 14px;
        
    
    }
    .change-zip-link{
        
        margin-bottom: 30px;
    }
    .change-zip-link-l{
        font-size: 14px;
        
        padding: 4px 35px;
        
        margin: 3px 0;
        border-radius: 6px;
    }
}


@media(max-width:1400px){
    .zip-modal-UI{
        position: fixed;
        z-index: 400;
        width: 35%;
        left: 33%;
        top: 25%;
       
        border-radius: 10px;
 

    }
    .Modal-label{
        
        padding: 0px 25px;
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 13px;
        
    }
    .zip-text{
        
        font-size: 13px;
        margin-top: 20px;
        text-align: center;
    }
    .change-zip input{
        width: 260px;
        height: 22px;
        
        font-size: 13px;
        
    
    }
    .change-zip-link{
        
        margin-bottom: 30px;
    }
    .change-zip-link-l{
        font-size: 13px;
        
        padding: 4px 35px;
        
        margin: 3px 0;
        border-radius: 6px;
    }
}



@media(max-width:1200px){
    .zip-modal-UI{
        position: fixed;
        z-index: 400;
        width: 37%;
        left: 32%;
        top: 25%;
       
        border-radius: 10px;
 

    }
    .Modal-label{
        
        padding: 0px 25px;
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 13px;
        
    }
    .zip-text{
        
        font-size: 13px;
        margin-top: 20px;
        text-align: center;
    }
    .change-zip input{
        width: 260px;
        height: 22px;
        
        font-size: 13px;
        
    
    }
    .change-zip-link{
        
        margin-bottom: 30px;
    }
    .change-zip-link-l{
        font-size: 13px;
        
        padding: 4px 35px;
        
        margin: 3px 0;
        border-radius: 6px;
    }
}

@media(max-width:1100px){
    .zip-modal-UI{
        position: fixed;
        z-index: 400;
        width: 40%;
        left: 30%;
        top: 21%;
       
        border-radius: 10px;
 

    }
    .Modal-label{
        
        padding: 0px 25px;
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 12px;
        
    }
    .zip-text{
        
        font-size: 12px;
        margin-top: 20px;
        text-align: center;
    }
    .change-zip input{
        width: 260px;
        height: 22px;
        
        font-size: 12px;
        
    
    }
    .change-zip-link{
        
        margin-bottom: 30px;
    }
    .change-zip-link-l{
        font-size: 12px;
        
        padding: 4px 35px;
        
        margin: 3px 0;
        border-radius: 6px;
    }
}



@media(max-width:900px){
    .zip-modal-UI{
        position: fixed;
        z-index: 400;
        width: 50%;
        left: 25%;
        top: 15%;
       
        border-radius: 10px;
 

    }
    .Modal-label{
        
        padding: 0px 25px;
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 12px;
        
    }
    .zip-text{
        
        font-size: 12px;
        margin-top: 20px;
        text-align: center;
    }
    .change-zip input{
        width: 260px;
        height: 22px;
        
        font-size: 12px;
        
    
    }
    .change-zip-link{
        
        margin-bottom: 30px;
    }
    .change-zip-link-l{
        font-size: 12px;
        
        padding: 4px 35px;
        
        margin: 3px 0;
        border-radius: 6px;
    }
}

@media(max-width:800px){
    .zip-modal-UI{
        position: fixed;
        z-index: 400;
        width: 60%;
        left: 20%;
        top: 15%;
       
        border-radius: 10px;
 

    }
    .Modal-label{
        
        padding: 0px 25px;
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 11px;
        
    }
    .zip-text{
        
        font-size: 12px;
        margin-top: 20px;
        text-align: center;
    }
    .change-zip input{
        width: 260px;
        height: 22px;
        
        font-size: 12px;
        
    
    }
    .change-zip-link{
        
        margin-bottom: 30px;
    }
    .change-zip-link-l{
        font-size: 12px;
        
        padding: 4px 35px;
        
        margin: 3px 0;
        border-radius: 6px;
    }
}

@media(max-width:700px){
    .zip-modal-UI{
        position: fixed;
        z-index: 400;
        width: 60%;
        left: 20%;
        top: 13%;
       
        border-radius: 10px;
 

    }
    .Modal-label{
        
        padding: 0px 20px;
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 10px;
        
    }
    .zip-text{
        
        font-size: 10px;
        margin-top: 15px;
        text-align: center;
    }
    .change-zip input{
        width: 260px;
        height: 20px;
        
        font-size: 10px;
        
    
    }
    .change-zip-link{
        
        margin-bottom: 20px;
    }
    .change-zip-link-l{
        font-size: 10px;
        
        padding: 4px 35px;
        
        margin: 3px 0;
        border-radius: 6px;
    }
}

@media(max-width:600px){
    .zip-modal-UI{
        position: fixed;
        z-index: 400;
        width: 70%;
        left: 15%;
        top: 13%;
       
        border-radius: 10px;
 

    }
    .Modal-label{
        
        padding: 0px 20px;
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 10px;
        
    }
    .zip-text{
        
        font-size: 10px;
        margin-top: 15px;
        text-align: center;
    }
    .change-zip input{
        width: 260px;
        height: 20px;
        
        font-size: 10px;
        
    
    }
    .change-zip-link{
        
        margin-bottom: 20px;
    }
    .change-zip-link-l{
        font-size: 10px;
        
        padding: 4px 35px;
        
        margin: 3px 0;
        border-radius: 6px;
    }
}

@media(max-width:500px){
    .zip-modal-UI{
        position: fixed;
        z-index: 400;
        width: 80%;
        left: 10%;
        top: 13%;
       
        border-radius: 10px;
 

    }
    .Modal-label{
        
        padding: 0px 20px;
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 9px;
        
    }
    .zip-text{
        
        font-size: 10px;
        margin-top: 15px;
        text-align: center;
    }
    .change-zip input{
        width: 260px;
        height: 20px;
        
        font-size: 10px;
        
    
    }
    .change-zip-link{
        
        margin-bottom: 20px;
    }
    .change-zip-link-l{
        font-size: 10px;
        
        padding: 4px 35px;
        
        margin: 3px 0;
        border-radius: 6px;
    }
}

