.Filter-Layout{
    margin-left: 25%;
    margin-right: 10%;
    /* margin-top: 280px; */
    overflow-y: scroll;
    height: 98vh;
    /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.top-filters{
    display: flex;
    flex-wrap: wrap;
    
    position: fixed;
    z-index: 5;
    top: 10px;
    
    width: 70%;
    background-color: #fff;
    padding-bottom: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.filters-mobile{
    display: none;
    width: 100%;
    
    position: fixed;
    top: 50px;
    z-index:300;
    
    
}
.filter-mobile-button{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    width: 95%;
    background-color: #f9f9f9;
    padding: 15px 0;
    text-decoration: underline;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    
}
.filter-mobile-button span{
    margin-left: 20px;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.filter-mobile-active{
    
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 400;
    
}
.filter-mobile-not-active{
    height: 0%;
    
    
}
.filter-mobile-ui-active{
    width: 95%;
    background-color: #f9f9f9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
   
    
    
    
    
}
.filter-mobile-ui-not-active{
    display: none;
    transition: 0.3s ease;
}
.mobile-ui-labels{
   color: #1333a6;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
   margin-left: 50px;
   margin-bottom: 10px;
}
.mobile-ui-options{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "industry", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.left-mobile-options{
    width:50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.right-mobile-options{
    width:50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    
}
.mobile-option{
    width: 90%;
    display: flex;
    justify-content: left;
    list-style: none;
    margin: 5px 0;
    cursor: pointer;
    padding: 8px 0;
    border-radius: 10px;
    
}
.mobile-option:hover{
    background-color: #fff;
    
}
/* .mobile-option:hover{
    background-color: #c9c9c9;

    
} */
.mobile-option-checkbox{
    width: 18px;
    height: 18px;
    background-color: #fff;
    margin-left: 50px;
    margin-right: 20px;
}
.checked{
    background-color: royalblue;
}
.mobile-backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    background-color: rgba(250,250, 250,0.2);
    

}
.hide-filters{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.hide-filters-button{
    width: 370px;
    font-size: 20px;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 10px 0;
    background-color: #1333a6;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    margin: 20px 0;
    cursor: pointer;
}

@media(max-width: 3290px){
    .Filter-Layout{
        margin-right: 9%;
        
    }
    /* .top-filters{
        width: 65%;
    } */
}@media(max-width: 3110px){
    .Filter-Layout{
        margin-right: 7%;
        margin-left: 22%;
    }
    .top-filters{
        width: 72%;
    }
}

@media(max-width: 2870px){
    .Filter-Layout{
        margin-right: 5%;
        margin-left: 20%;
        /* margin-top: 9%; */
    }
    .top-filters{
       
       width: 76%;
        
        
    }
}
@media(max-width: 2800px){
    /* .top-filters{
        top: 60px;
    } */
}
@media(max-width: 2740px){
    .Filter-Layout{
        margin-right: 3%;
        margin-left: 18%;
    }
    .top-filters{
       
        width: 79%;
         
         
     }
}
@media(max-width: 2590px){
    .Filter-Layout{
        margin-right: 1%;
        margin-left: 17%;
    }
    .top-filters{
       
        width: 82%;
         
         
     }
}
@media(max-width: 2500px){
    /* .top-filters{
        top: 50px;
    } */
}
@media(max-width: 2485px){
    .Filter-Layout{
        margin-right: 0;
        margin-left: 15%;
        /* margin-top: 10%; */
    }
    .top-filters{
        width: 85%;
    }
    
}
@media(max-width: 2200px){
    /* .top-filters{
        position: fixed;
        z-index: 10;
        
    } */
  
}

@media(max-width: 2000px){
    /* .top-filters{
       width: 85%;
        
    } */
  
}

@media(max-width: 1800px){
    
}
@media(max-width: 1500px){
    .Filter-Layout{
        margin-left: 12%;
    }
    .top-filters{
        width: 88%;
    }
    
}
@media(max-width: 1400px){
    .Filter-Layout{
        margin-left: 0%;
    }
    .top-filters{
        display: none;
    }
    .filters-mobile{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    
    }
}

/* @media(max-width: 1400px) and (max-height: 1300px){
    
    .filters-mobile{
        position: fixed;
        top: 5%;
        z-index: 300px;
    }
}
@media(max-width: 1400px) and (max-height: 1200px){
    
    .filters-mobile{
        position: fixed;
        top: 6%;
        z-index: 300px;
    }
} */
@media(max-width: 1200px){
    
    .filter-mobile-button span{

      
        font-size: 16px;
        
    }
    .mobile-ui-options{
        font-size: 15px;
    }
    .mobile-ui-labels{
        font-size: 17px;
    }
    .mobile-option-checkbox{
        width: 14px;
        height: 14px;
       
    }
    .hide-filters-button{
        
        font-size: 16px;
        
        
        
        width: 320px;
        
        
        
    }
}

@media(max-width: 1000px){
    /* .filter-mobile-button{
        padding: 15px 0;
        
    } */
    .filter-mobile-button span{
        font-size: 15px;
        
    }
    .mobile-ui-labels{
        font-size: 15px;
    }
    .mobile-ui-options{
        font-size: 13px;
    }
    .mobile-option-checkbox{
        width: 12px;
        height: 12px;
       
    }
    .filter-mobile-ui-active{
        position: fixed;
        top: 40px;
        z-index:300;
    }
        
        
    .mobile-ui-options{
       
        
        margin-top: 20px;
    }
    .hide-filters-button{
        width: 280px;
        font-size: 14px;
        
        
        
        
        
        
        
    }

}
@media(max-width: 900px) and (orientation: landscape){
     .filter-mobile-button{
        padding: 10px 0;
        
    }
    .filters-mobile{
        top: 50px;
    }
    .filter-mobile-button span{
        font-size: 12px;
        
    }
    .mobile-ui-labels{
        font-size: 13px;
        width: 100%;
    }
    .mobile-ui-options{
        font-size: 13px;
        width: 100%;
        padding-top: 5px;
        margin: 0;
        border-top: none;
        border-left: 1px solid rgba(0, 0, 0, 0.05);
    }
    .mobile-option-checkbox{
        width: 12px;
        height: 12px;
       
    }
    .mobile-option{
        width: 100%;
        margin: 2px;
        padding: 6px 0;
    }
    .hide-filters-button{
        width: 280px;
        font-size: 14px;
        margin-top: 5px;

        
    }
    /* .filter-mobile-ui-active{
        display: flex;
        flex-wrap: wrap;
    } */
}
@media(max-width: 800px){
      /* .filter-mobile-button{
        padding: 15px 0;
        
    } */
    .filter-mobile-button span{
        font-size: 13px;
        
    }
    .mobile-ui-labels{
        font-size: 13px;
    }
    .mobile-ui-options{
        font-size: 11px;
    }
    .mobile-option-checkbox{
        width: 10px;
        height: 10x;
       
    }
    .mobile-option{
        margin: 3px 0;
        
    }.mobile-ui-options{
       
        
        margin-top: 20px;
    }
    .hide-filters-button{
        width: 250px;
        font-size: 12px;
        
        
        
        
        
        
        
    }

}
@media(max-width: 700px) and (orientation: landscape){
    .filter-mobile-button{
       padding: 10px 0;
       
   }
   .filters-mobile{
       top: 50px;
   }
   .filter-mobile-button span{
       font-size: 12px;
       
   }
   .mobile-ui-labels{
       font-size: 13px;
       width: 100%;
   }
   .mobile-ui-options{
       font-size: 11px;
       width: 100%;
       padding-top: 5px;
       margin: 0;
       border-top: none;
       border-left: 1px solid rgba(0, 0, 0, 0.05);
   }
   .mobile-option-checkbox{
       width: 12px;
       height: 12px;
      
   }
   .mobile-option{
       width: 100%;
       margin: 2px;
       padding: 3px 0;
   }
   .hide-filters-button{
       width: 280px;
       font-size: 12px;
       margin-top: 5px;

       
   }
   .filter-mobile-ui-active{
       /* display: flex;
       flex-wrap: wrap; */
    
        position: fixed;
        top: 35px;
        z-index:300;
    
   }
   
}
@media(max-width: 700px){
    .filter-mobile-ui-active{
        position: fixed;
        top: 35px;
        z-index:300;
    }
}
@media(max-width: 600px){
    /* .filter-mobile-button{
      padding: 15px 0;
      
  } */
  .filter-mobile-button span{
      font-size: 12px;
      
  }
  .mobile-ui-labels{
      font-size: 12px;
  }
  .mobile-ui-options{
      font-size: 10px;
  }
  .mobile-option-checkbox{
      width: 10px;
      height: 10x;
     
  }
  .mobile-option{
      margin: 2px 0;
      padding: 6px 0;
      
  }.mobile-ui-options{
     
      
      margin-top: 20px;
  }
  .hide-filters-button{
      width: 230px;
      font-size: 12px;
      
      
      
      
      
      
      
  }

}

@media(max-width: 500px){
    .filter-mobile-button{
      padding: 10px 0;
      
  }
  .filter-mobile-button span{
      font-size: 10px;
      
  }
  .mobile-ui-labels{
      font-size: 10px;
  }
  .mobile-ui-options{
      font-size: 9px;
  }
  .mobile-option-checkbox{
      width: 8px;
      height: 8px;
     
  }
  .mobile-option{
      margin: 2px 0;
      padding: 6px 0;
      
  }.mobile-ui-options{
     
      
      margin-top: 20px;
  }
  .hide-filters-button{
      width: 210px;
      font-size: 11px;
      
      
      
      
      
      
      
  }

}
