.Quick-Filter{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.qf-title{
    width: 100%;
    margin-left: 70px;
}
.qf-title h2{
    font-size: 23px;
}
.qf-options{
    display: flex;
    width: 100%;
    margin-left: 50px;
}

@media(max-width: 2870px){
    .qf-title h2{
        font-size: 20px;
    }
}
@media(max-width: 2200px){
    .qf-title h2{
        font-size: 17px;
    }
}


@media(max-width: 1500px){
    .qf-title h2{
        font-size: 14px;
    }
}