.Quick-Filter{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.qf-title{
    width: 100%;
    margin: 0 70px;
}
.qf-title h2{
    font-size: 23px;
}
.qf-options{
    display: flex;
    width: 100%;
    margin-left: 50px;
}