.Quick-Filter{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.qf-title{
    width: 100%;
    margin-left: 70px;
}
.qf-title h2{
    font-size: 28px;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.qf-options{
    display: flex;
    width: 100%;
    margin-left: 50px;
}

@media(max-width: 2900px){
    .qf-title h2{
        font-size: 23px;
    }
}
@media(max-width: 2200px){
    .qf-title h2{
        font-size: 17px;
    }
}


@media(max-width: 1600px){
    .qf-title h2{
        font-size: 14px;
    }
}
@media(max-width: 1500px){
    .qf-title h2{
        font-size: 12px;
    }
}
@media(max-width: 1400px){
    .Quick-Filter{
        width: 100%;
    }
    .qf-title{
        margin-left: 50px;
    }
    .qf-title h2{
        font-size: 16px;
    }
    .qf-options{
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
    }
}
@media(max-width: 1200px){
  
    .qf-title h2{
        font-size: 14px;
    }
}
@media(max-width: 1000px){
    .qf-title h2{
        font-size: 12px;
    }
}
@media(max-width: 800px){
    .qf-title{
        margin-left: 30px;
    }
    .qf-title h2{
        font-size: 10px;
    }
}
@media(max-width: 700px){
    /* .qf-title{
        margin-left: 50px;
    }
    .qf-title h2{
        font-size: 10px;
    } */
    .qf-option{
        
        width: 50%;
        display: flex;
        justify-content: center;
        margin: 5px 0;
    }
}
@media(max-width: 500px){
    .qf-title{
        margin-left: 30px;
    }
    .qf-title h2{
        font-size: 10px;
    }
}