.FRC{
    width: 23%;
    background-color: #fff;
    margin: 0 10px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
}
.FRC-row-one, .FRC-row-two, .FRC-row-three, .FRC-row-four, .FRC-row-five, .FRC-row-six, .FRC-row-seven {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.FRC-row-three, .FRC-row-four, .FRC-row-five, .FRC-row-six{
    border-top: 1px solid rgba(0,0,0,0.2);
}
.FRC-row-one{
    padding: 10px 0;
}
.FRC-id{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    
}
.FRC-id span{
    color: rgba(0, 0, 0, 0.5);
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 15px;
    font-size: 27px;
}
.FRC-name{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
   
}
.FRC-name span{
    font-size: 38px;
    font-family: "industry", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-left: 20px;
    font-weight: bold;
}

.FRC-two-T{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.FRC-two-B{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.FRC-row-two{
    padding-top: 20px;
    padding-bottom: 30px;
}
.FRC-image{
    width: 50%;
    display: flex;
    flex-wrap: wrap;

   
}
.FRC-image img{
    width: 180px;
    height: 110px;
    margin-top: 20px;
    margin-left: 40px;
}
.FRC-price{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  
    justify-content: center;
    
}
.FRC-price span{
    margin-top: 30px;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 90px;
    color: #1333A6;
  
}


.FRC-details-btn{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   margin: 10px 0;
   
}
.FRC-details-btn span{
    font-size: 26px;
    color: #EA2335;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.FRC-other-info{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;

    
}
.FRC-other-info span{
    color: rgba(0, 0, 0, 0.5);
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}

.FRC-row-three{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f9f9f9;
}
.FRC-row-three span{
    font-size: 33px;
    margin: 0 60px;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.FRC-row-four{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f9f9;
   
}

.FRC-bill-desc{
    width: 40%;
}
.FRC-bill-desc span{
    font-size: 22px;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.FRC-bill-price{
    width: 40%;



}
.FRC-bill-price span{
    font-size: 40px;
    float: right;
    margin-right: 20px;
    color: #1333A6;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
    
}
.FRC-row-five{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f9f9;
   
}
.FRC-length-label{
    width: 40%;
    font-size: 22px;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.FRC-length{
    width: 40%;
}
.FRC-length span{
    float: right;
    margin-right: 10px;
    font-size: 40px;
    color: #1333A6;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
}


.FRC-row-six{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}
.FRC-link{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}
.FRC-Link{
    background-color: #1333A6;
    color: #fff;
    text-decoration: none;
    padding: 15px 120px;
    border-radius: 35px;
    font-size: 28px;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;

}
.FRC-link-details{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.FRC-link-details-one{
    width: 100%;
    text-align: center;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    
}
.FRC-link-details-two{
    width: 100%;
    text-align: center;
    color: #EA2335;
    text-decoration: underline;
    font-size: 40px;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.FRC-row-seven{
    background-color: #EA2335;
    
    border-radius: 10px;
    
    padding: 20px 0;
   
    
}
.FRC-seven-label{
    color: #fff;
    font-size: 35px;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
}
@media(max-width: 3700px){
    .FRC-bill-price span{
        font-size: 37px;
       
        
    }
    .FRC-length span{
       
        font-size: 37px;
      
    }
    .FRC-length-label{
        
        font-size: 20px;
   
    }
    .FRC-bill-desc span{
        font-size: 20px;
    
    }
    
}
@media(max-width: 3500px){
    .FRC-bill-price span{
        font-size: 35px;
       
        
    }
    .FRC-length span{
       
        font-size: 35px;
      
    }
    .FRC-length-label{
        
        font-size: 20px;
   
    }
    .FRC-bill-desc span{
        font-size: 20px;
    
    }
    .FRC-row-three span{
        font-size: 30px;
        
    }
    .FRC-name span{
        font-size: 35px;
      
    }
    .FRC-image img{
        width: 170px;
        height: 100px;
        margin-top: 20px;
        margin-left: 40px;
    }
    .FRC-price span{
        margin-top: 30px;
        
        font-size: 80px;
        
      
    }
    .FRC-Link{
        padding: 15px 100px;
    }
    .FRC-seven-label{
        font-size: 32px;
    }
    
}
@media(max-width: 3345px){
    .FRC-bill-desc{
        width: 50%;
    }
   
    .FRC-length-label{
        width: 50%;
    }
    
}
@media(max-width: 3200px){
    .FRC-bill-price span{
        font-size: 32px;
       
        
    }
    .FRC-length span{
       
        font-size: 32px;
      
    }
    .FRC-length-label{
        
        font-size: 18px;
   
    }
    .FRC-bill-desc span{
        font-size: 18px;
    
    }
    .FRC-row-three span{
        font-size: 28px;
        
    }
    .FRC-name span{
        font-size: 32px;
      
    }
    .FRC-image img{
        width: 150px;
        height: 90px;
        margin-top: 20px;
        margin-left: 40px;
    }
    .FRC-price span{
        margin-top: 30px;
        
        font-size: 70px;
        
      
    }
    .FRC-Link{
        padding: 15px 80px;
        font-size: 25px;
    }
    .FRC-seven-label{
        font-size: 30px;
    }
    .FRC-other-info span{
       
        font-size: 22px;
    }
    .FRC-id span{
       
        font-size: 24px;
    }
    .FRC-details-btn span{
        font-size: 23px;
        
    }
    .FRC-link-details-one{
       
        font-size: 20px;
        
    }
    .FRC-link-details-two{
       
        font-size: 36px;
        
    }
}
@media(max-width: 3100px){
    .FRC-bill-price span{
        font-size: 35px;
       
        
    }
    .FRC-length span{
       
        font-size: 35px;
      
    }
    .FRC-length-label{
        
        font-size: 22px;
   
    }
    .FRC-bill-desc span{
        font-size: 22px;
    
    }
    .FRC-row-three span{
        font-size: 30px;
        
    }
    .FRC-name span{
        font-size: 34px;
      
    }
    .FRC-image img{
        width: 150px;
        height: 90px;
        margin-top: 20px;
        margin-left: 40px;
    }
    .FRC-price span{
        margin-top: 30px;
        
        font-size: 70px;
        
      
    }
    .FRC-Link{
        padding: 15px 80px;
        font-size: 25px;
    }
    .FRC-seven-label{
        font-size: 30px;
    }
    .FRC-other-info span{
       
        font-size: 22px;
    }
    .FRC-id span{
       
        font-size: 24px;
    }
    .FRC-details-btn span{
        font-size: 23px;
        
    }
    .FRC-link-details-one{
       
        font-size: 20px;
        
    }
    .FRC-link-details-two{
       
        font-size: 36px;
        
    }
}
@media(max-width: 3000px){
    .FRC-bill-price span{
        font-size: 32px;
       
        
    }
    .FRC-length span{
       
        font-size: 32px;
      
    }
    .FRC-length-label{
        
        font-size: 20px;
   
    }
    .FRC-bill-desc span{
        font-size: 20px;
    
    }
    .FRC-row-three span{
        font-size: 27px;
        
    }
    .FRC-name span{
        font-size: 31px;
      
    }
    .FRC-image img{
        width: 130px;
        height: 80px;
        margin-top: 20px;
        margin-left: 40px;
    }
    .FRC-price span{
        margin-top: 30px;
        
        font-size: 70px;
        
      
    }
    .FRC-Link{
        padding: 12px 80px;
        font-size: 22px;
    }
    .FRC-seven-label{
        font-size: 28px;
    }
    .FRC-other-info span{
       
        font-size: 20px;
    }
    .FRC-id span{
       
        font-size: 22px;
    }
    .FRC-details-btn span{
        font-size: 20px;
        
    }
    .FRC-link-details-one{
       
        font-size: 18px;
        
    }
    .FRC-link-details-two{
       
        font-size: 32px;
        
    }
}

@media(max-width: 2400px){
    .FRC-Link{
       
        padding: 15px 100px;
      
    }
   
}
@media(max-width: 2300px){
    .FRC-row-three{
        padding: 30px 0;
        
    }
    .FRC-row-three span{
       font-size: 25px;
        margin: 0 40px;
    }
   
    .FRC-length span{
       
     
        font-size: 28px;
        
    }
    .FRC-bill-price span{
        font-size: 28px;
      
        
    }
    .FRC-price span{
        margin-top: 20px;
        
        font-size: 70px;
        
      
    }
    .FRC-image img{
        width: 130px;
        height: 80px;
        
        margin-left: 30px;
    }
    .FRC-Link{
       
        padding: 15px 80px;
        
    }
}
@media(max-width: 2100px){
    /* .FRC-Link{
       
        padding: 15px 80px;
        
    } */
    .FRC-row-three span{
       
        margin: 0 30px;
    }
}

@media(max-width: 2000px){
    .FRC-Link{
       
        padding: 15px 70px;
        
    }
    .FRC-row-three span{
       
        margin: 0 20px;
    }

    .FRC-row-three{
        padding: 20px 0;
        
    }
    .FRC-row-three span{
       
        margin: 0 30px;
    }
    .FRC-length span{
       
     
        font-size: 26px;
        
    }
    .FRC-bill-price span{
        font-size: 26px;
      
        
    }
    .FRC-price span{
        margin-top: 20px;
        
        font-size: 60px;
        
      
    }
    .FRC-image img{
        width: 110px;
        height: 70px;
     
    }
}
@media(max-width: 1900px){
  
    .FRC-name span{
        font-size: 24px;
       
        margin-left: 15px;
        
    }
    .FRC-row-three span{
        font-size: 22px;
        margin: 0 20px;
    
    }
    .FRC-bill-desc span{
        font-size: 15px;
    }
    .FRC-length-label span{
        
        font-size: 15px;
    }

    .FRC-price span{
        margin-top: 20px;
        
        font-size: 50px;
        
      
    }

    .FRC-length span{
       
        font-size: 22px;
        
    }
    .FRC-bill-price span{
        font-size: 22px;
       
        
    }
     .FRC-Link{
        
        padding: 15px 50px;
        
    }
    .FRC-link-details-two{
       
        
        font-size: 26px;
    }
    .FRC-seven-label{
        
        font-size: 26px;
    }
}


@media(max-width: 1700px){
  
    .FRC-name span{
        font-size: 21px;
        
    }
    .FRC-row-three span{
        font-size: 20px;
     
    
    }
    .FRC-bill-desc span{
        font-size: 13px;
    }
    .FRC-length-label span{
        
        font-size: 13px;
    }

    .FRC-price span{
        margin-top: 20px;
        
        font-size: 45px;
        
      
    }

    .FRC-length span{
       
        font-size: 20px;
        
    }
    .FRC-bill-price span{
        font-size: 20px;
       
        
    }
     .FRC-Link{
        
        padding: 15px 40px;
        font-size: 18px;
        
    }
    .FRC-link-details-two{
       
        
        font-size: 24px;
    }
    .FRC-seven-label{
        
        font-size: 24px;
    }
    .FRC-image img{
        width: 110px;
        height: 70px;
        
        margin-left: 30px;
    }
}

@media(max-width: 1500px){
    .FRC{
        margin: 0 5px;
    }
  
    .FRC-name span{
        font-size: 18px;
        
    }
    .FRC-row-three span{
        font-size: 17px;
     
    
    }
    .FRC-bill-desc span{
        font-size: 11px;
    }
    .FRC-length-label span{
        
        font-size: 11px;
    }

    .FRC-price span{
        margin-top: 20px;
        
        font-size: 40px;
        
      
    }

    .FRC-length span{
       
        font-size: 17px;
        
    }
    .FRC-bill-price span{
        font-size: 17px;
       
        
    }
     .FRC-Link{
        
        padding: 15px 30px;
        font-size: 15px;
        
    }
    .FRC-link-details-two{
       
        
        font-size: 20px;
    }
    .FRC-seven-label{
        
        font-size: 20px;
    }
    .FRC-image img{
        width: 80px;
        height: 50px;
        
        margin-left: 20px;
    }
}

@media(max-width: 1400px){
    /* .FRC{
        width: 43%;
        margin: 15px;
    } */
    .FRC-name span{
        font-size: 22px;
        
    }
    .FRC-row-three span{
        font-size: 20px;
        padding: 5px;
     
    
    }
    .FRC-bill-desc span{
        font-size: 14px;
        
        
    }
    .FRC-length-label span{
        
        font-size: 14px;
        
    }

    .FRC-price span{
        margin-top: 10px;
        
        font-size: 50px;
        
      
    }

    .FRC-length span{
       
        font-size: 22px;
        
    }
    .FRC-bill-price span{
        font-size: 22px;
       
        
    }
     .FRC-Link{
        
        padding: 10px 70px;
        font-size: 16px;
        
    }
    .FRC-link-details-one{
      
        font-size: 16px;
        
    }
    .FRC-link-details-two{
       
        
        font-size: 20px;
    }
    .FRC-seven-label{
        
        font-size: 20px;
    }
    .FRC-image img{
        width: 120px;
        height: 70px;
        
        margin-left: 15px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .FRC-id span{
       
        font-size: 15px;
    }
    .FRC-other-info span{
      
        font-size: 15px;
    }
    .FRC-details-btn span{
        font-size: 15px;
        
    }

}

@media(max-width: 1300px){
    /* .FRC{
        width: 43%;
        margin: 15px;
    } */
    .FRC-name span{
        font-size: 22px;
        
    }
    .FRC-row-three span{
        font-size: 18px;
        padding: 5px;
     
    
    }
    .FRC-bill-desc span{
        font-size: 12px;
        
        
    }
    .FRC-length-label span{
        
        font-size: 12px;
        
    }

    .FRC-price span{
        margin-top: 10px;
        
        font-size: 40px;
        
      
    }

    .FRC-length span{
       
        font-size: 19px;
        
    }
    .FRC-bill-price span{
        font-size: 19px;
       
        
    }
     .FRC-Link{
        
        padding: 10px 70px;
        font-size: 16px;
        
    }
    .FRC-link-details-one{
      
        font-size: 16px;
        
    }
    .FRC-link-details-two{
       
        
        font-size: 20px;
    }
    .FRC-seven-label{
        
        font-size: 20px;
    }
    .FRC-image img{
        width: 110px;
        height: 60px;
        
        margin-left: 15px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .FRC-id span{
       
        font-size: 15px;
    }
    .FRC-other-info span{
      
        font-size: 15px;
    }
    .FRC-details-btn span{
        font-size: 15px;
        
    }

}

@media(max-width: 1200px){
    .FRC{
        width: 47%;
        margin: 10px;
    }
    .FRC-name span{
        font-size: 30px;
        
    }
    .FRC-row-three span{
        font-size: 22px;
        padding: 10px 40px;
     
    
    }
    .FRC-bill-desc span{
        font-size: 15px;
        
        
    }
    .FRC-length-label span{
        
        font-size: 15px;
        
    }

    .FRC-price span{
        margin-top: 10px;
        
        font-size: 65px;
        
      
    }

    .FRC-length span{
       
        font-size: 28px;
        
    }
    .FRC-bill-price span{
        font-size: 28px;
       
        
    }
     .FRC-Link{
        
        padding: 15px 70px;
        font-size: 18px;
        
    }
    .FRC-link-details-two{
       
        
        font-size: 25px;
    }
    .FRC-seven-label{
        
        font-size: 28px;
    }
    .FRC-image img{
        width: 150px;
        height: 90px;
        
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .FRC-id span{
       
        font-size: 18px;
    }
    .FRC-other-info span{
      
        font-size: 18px;
    }
    .FRC-details-btn span{
        font-size: 18px;
        margin-right: 90px;
    }

}
@media(max-width: 1000px){
    .FRC{
        width: 47%;
        margin: 10px;
    }
    .FRC-name span{
        font-size: 25px;
        
    }
    .FRC-row-three span{
        font-size: 20px;
        padding: 10px 30px;
     
    
    }
    .FRC-bill-desc span{
        font-size: 14px;
        
        
    }
    .FRC-length-label span{
        
        font-size: 14px;
        
    }

    .FRC-price span{
        margin-top: 10px;
        
        font-size: 55px;
        
      
    }

    .FRC-length span{
       
        font-size: 25px;
        
    }
    .FRC-bill-price span{
        font-size: 25px;
       
        
    }
     .FRC-Link{
        
        padding: 15px 70px;
        font-size: 16px;
        
    }
    .FRC-link-details-two{
       
        
        font-size: 22px;
    }
    .FRC-seven-label{
        
        font-size: 24px;
    }
    .FRC-image img{
        width: 140px;
        height: 90px;
        
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .FRC-id span{
       
        font-size: 15px;
    }
    .FRC-other-info span{
      
        font-size: 15px;
    }
    .FRC-details-btn span{
        font-size: 15px;
        margin-right: 90px;
    }

}
@media(max-width: 900px){
    .FRC{
        width: 47%;
        margin: 8px;
    }
    .FRC-name span{
        font-size: 22px;
        
    }
    .FRC-row-three span{
        font-size: 20px;
        padding: 10px 30px;
     
    
    }
    .FRC-bill-desc span{
        font-size: 14px;
        
        
    }
    .FRC-length-label span{
        
        font-size: 14px;
        
    }

    .FRC-price span{
        margin-top: 10px;
        
        font-size: 55px;
        
      
    }

    .FRC-length span{
       
        font-size: 23px;
        
    }
    .FRC-bill-price span{
        font-size: 23px;
       
        
    }
     .FRC-Link{
        
        padding: 15px 70px;
        font-size: 16px;
        
    }
    .FRC-link-details-two{
       
        
        font-size: 22px;
    }
    .FRC-seven-label{
        
        font-size: 23px;
    }
    .FRC-image img{
        width: 120px;
        height: 80px;
        
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .FRC-id span{
       
        font-size: 15px;
    }
    .FRC-other-info span{
      
        font-size: 15px;
    }
    .FRC-details-btn span{
        font-size: 15px;
        margin-right: 90px;
    }

}
/* Ipad Mini */
@media(max-width: 800px){
    .FRC{
        width: 46%;
        margin: 5px;
    }
    .FRC-name span{
        font-size: 22px;
        
    }
    .FRC-row-three span{
        font-size: 20px;
        padding: 10px;
     
    
    }
    .FRC-bill-desc span{
        font-size: 12px;
        
        
    }
    .FRC-length-label span{
        
        font-size: 12px;
        
    }

    .FRC-price span{
        margin-top: 10px;
        
        font-size: 55px;
        
      
    }

    .FRC-length span{
       
        font-size: 21px;
        
    }
    .FRC-bill-price span{
        font-size: 21px;
       
        
    }
     .FRC-Link{
        
        padding: 15px 70px;
        font-size: 15px;
        
    }
    .FRC-link-details-two{
       
        
        font-size: 22px;
    }
    .FRC-seven-label{
        
        font-size: 22px;
    }
    .FRC-image img{
        width: 120px;
        height: 80px;
        
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .FRC-id span{
       
        font-size: 13px;
    }
    .FRC-other-info span{
      
        font-size: 13px;
    }
    .FRC-details-btn span{
        font-size: 13px;
        margin-right: 50px;
    }

}
@media(max-width: 750px){
    .FRC{
        width: 93%;
        margin: 10px 0;
    }
    
    .FRC-name span{
        font-size: 25px;
        
    }
    .FRC-row-three span{
        font-size: 22px;
        padding: 15px 80px;
     
    
    }
    .FRC-bill-desc span{
        font-size: 15px;
        
        
    }
    .FRC-length-label span{
        
        font-size: 15px;
        
    }

    .FRC-price span{
        margin-top: 10px;
        
        font-size: 80px;
        
      
    }

    .FRC-length span{
       
        font-size: 25px;
        
    }
    .FRC-bill-price span{
        font-size: 25px;
       
        
    }
     .FRC-Link{
        
        padding: 12px 90px;
        font-size: 20px;
        
    }
    .FRC-link-details-two{
       
        
        font-size: 25px;
    }
    .FRC-seven-label{
        
        font-size: 28px;
    }
    .FRC-image img{
        width: 150px;
        height: 100px;
        
        margin-left: 30px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .FRC-id span{
       
        font-size: 15px;
    }
    .FRC-other-info span{
      
        font-size: 15px;
    }
    .FRC-details-btn span{
        font-size: 15px;
        margin-right: 150px;
    }

}
@media(max-width: 600px){
    .FRC{
        width: 93%;
        margin: 10px 0;
    }
    
    .FRC-name span{
        font-size: 22px;
        
    }
    .FRC-row-three span{
        font-size: 20px;
        padding: 15px 60px;
     
    
    }
    .FRC-bill-desc span{
        font-size: 13px;
        
        
    }
    .FRC-length-label span{
        
        font-size: 13px;
        
    }

    .FRC-price span{
        margin-top: 10px;
        
        font-size: 70px;
        
      
    }

    .FRC-length span{
       
        font-size: 22px;
        
    }
    .FRC-bill-price span{
        font-size: 22px;
       
        
    }
     .FRC-Link{
        
        padding: 12px 90px;
        font-size: 18px;
        
    }
    .FRC-link-details-two{
       
        
        font-size: 22px;
    }
    .FRC-seven-label{
        
        font-size: 25px;
    }
    .FRC-image img{
        width: 140px;
        height: 95px;
        
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .FRC-id span{
       
        font-size: 13px;
    }
    .FRC-other-info span{
      
        font-size: 13px;
    }
    .FRC-details-btn span{
        font-size: 13px;
        margin-right: 130px;
    }

}
@media(max-width: 500px){
    .FRC{
        width: 93%;
        margin: 10px 0;
    }
    
    .FRC-name span{
        font-size: 20px;
        
    }
    .FRC-row-three span{
        font-size: 18px;
        padding: 5px 20px;
     
    
    }
    .FRC-bill-desc span{
        font-size: 11px;
        
        
    }
    .FRC-length-label span{
        
        font-size: 11px;
        
    }

    .FRC-price span{
        margin-top: 15px;
        
        font-size: 60px;
        
      
    }

    .FRC-length span{
       
        font-size: 20px;
        
    }
    .FRC-bill-price span{
        font-size: 20px;
       
        
    }
     .FRC-Link{
        
        padding: 12px 90px;
        font-size: 16px;
        
    }
    .FRC-link-details-two{
       
        
        font-size: 21px;
    }
    .FRC-seven-label{
        
        font-size: 23px;
    }
    .FRC-image img{
        width: 120px;
        height: 80px;
        
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .FRC-id span{
       
        font-size: 12px;
    }
    .FRC-other-info span{
      
        font-size: 12px;
    }
    .FRC-details-btn span{
        font-size: 12px;
        margin-right: 80px;
    }

}
@media(max-width: 400px){
    .FRC{
        width: 93%;
        margin: 10px 0;
    }
    
    .FRC-name span{
        font-size: 20px;
        
    }
    .FRC-row-three span{
        font-size: 16px;
        padding: 5px 20px;
     
    
    }
    .FRC-bill-desc span{
        font-size: 11px;
        
        
    }
    .FRC-length-label span{
        
        font-size: 11px;
        
    }

    .FRC-price span{
        margin-top: 15px;
        
        font-size: 50px;
        
      
    }

    .FRC-length span{
       
        font-size: 18px;
        
    }
    .FRC-bill-price span{
        font-size: 18px;
       
        
    }
     .FRC-Link{
        
        padding: 10px 70px;
        font-size: 14px;
        
    }
    .FRC-link-details-two{
       
        
        font-size: 19px;
    }
    .FRC-seven-label{
        
        font-size: 21px;
    }
    .FRC-image img{
        width: 110px;
        height: 70px;
        
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .FRC-id span{
       
        font-size: 11px;
    }
    .FRC-other-info span{
      
        font-size: 11px;
    }
    .FRC-details-btn span{
        font-size: 11px;
        margin-right: 60px;
    }

}
/* @media(max-width: 400px){
    .FRC{
        width: 90%;
        margin: 10px 0;
    }

    .FRC-name span{
        font-size: 12px;
        
    }
    .FRC-row-three span{
        font-size: 16px;
        padding: 0px 30px;
     
    
    }
    .FRC-row-four{
        padding: 10px 0;
    }
    .FRC-row-five{
        padding: 10px 0;
    }
    .FRC-row-six{
        padding: 10px 0;
    }
  
    .FRC-bill-desc span{
        font-size: 11px;
        
        
        
    }
    .FRC-length-label span{
        
        font-size: 11px;
        
    }

    .FRC-price span{
        margin-top: 10px;
        
        font-size: 50px;
        
      
    }

    .FRC-length span{
       
        font-size: 18px;
        
    }
    .FRC-bill-price span{
        font-size: 18px;
       
        
    }
     .FRC-Link{
        
        padding: 10px 60px;
        font-size: 8px;
        
    }
    .FRC-link-details-two{
       
        
        font-size: 12px;
    }
    .FRC-seven-label{
        
        font-size: 16px;
    }
    .FRC-image img{
        width: 100px;
        height: 70px;
        
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .FRC-details-btn span{
        font-size: 15px;
        margin-left: 25px;
    }
    .FRC-details-btn{
       
        justify-content: left;
        
       
    }
} */