.FRC{
    width: 23%;
    background-color: #fff;
    margin: 0 10px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3)
}
.FRC-row-one, .FRC-row-two, .FRC-row-three, .FRC-row-four, .FRC-row-five, .FRC-row-six, .FRC-row-seven {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.FRC-row-three, .FRC-row-four, .FRC-row-five, .FRC-row-six{
    border-top: 1px solid rgba(0,0,0,0.2);
}
.FRC-row-one{
    padding: 10px 0;
}
.FRC-id{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    
}
.FRC-id span{
    color: rgba(0, 0, 0, 0.5);
   
    margin-left: 15px;
}
.FRC-name{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
   
}
.FRC-name span{
    font-size: 28px;
   
    margin-left: 20px;
    font-weight: bold;
}

.FRC-two-T{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.FRC-two-B{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.FRC-row-two{
    padding-top: 20px;
    padding-bottom: 30px;
}
.FRC-image{
    width: 50%;
    display: flex;
    flex-wrap: wrap;

   
}
.FRC-image img{
    width: 150px;
    height: 90px;
    margin-top: 20px;
    margin-left: 40px;
}
.FRC-price{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  
    justify-content: center;
    
}
.FRC-price span{
    margin-top: 20px;
    
    font-size: 100px;
    color: #1333A6;;
  
}


.FRC-details-btn{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   margin: 10px 0;
   
}
.FRC-details-btn span{
    font-size: 20px;
    color: #EA2335;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}
.FRC-other-info{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    
}
.FRC-other-info span{
    color: rgba(0, 0, 0, 0.5);
}

.FRC-row-three{
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.FRC-row-three span{
    font-size: 27px;
    margin: 0 60px;
}
.FRC-row-four{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
   
}

.FRC-bill-desc{
    width: 40%;
}
.FRC-bill-desc span{
    font-size: 18px;
}
.FRC-bill-price{
    width: 40%;


}
.FRC-bill-price span{
    font-size: 35px;
    float: right;
    margin-right: 20px;
    color: #1333A6;
    
}
.FRC-row-five{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
   
}
.FRC-length-label{
    width: 40%;
}
.FRC-length{
    width: 40%;
}
.FRC-length span{
    font-size: 18px;
}
.FRC-length span{
    float: right;
    margin-right: 20px;
    font-size: 26px;
    color: #1333A6;
}


.FRC-row-six{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}
.FRC-link{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}
.FRC-Link{
    background-color: #1333A6;
    color: #fff;
    text-decoration: none;
    padding: 15px 120px;
    border-radius: 35px;
    font-size: 23px;
}
.FRC-link-details{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.FRC-row-seven{
    background-color: #EA2335;
    
    border-radius: 10px;
    
    padding: 20px 0;
   
    
}
.FRC-seven-label{
    color: #fff;
    font-size: 28px;
}
