.ALL{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    font-family: "industry", sans-serif;
    
    font-style: normal;
}
.ALL-list-layout{
    width: 100%;

    
}
.best-match-address{
    width: 100%;
    margin-bottom: 40px;
    
}
.best-match-title{
    margin-top: 20px;
    padding: 30px 10px;
    font-size: 40px;
    background-color: #1333A6;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.best-match-title span{
   margin-left: 35px;
   color: #fff;
   font-weight: 600;
}

@media(max-width:3400px){
    .best-match-title{
       
        font-size: 35px;
        padding: 27px 10px;
   
    }
}

@media(max-width:3000px){
    .best-match-title{
       
        font-size: 32px;
        padding: 25px 10px;
   
    }
}
@media(max-width:2600px){
    .best-match-title{
       
        font-size: 30px;
        padding: 22px 10px;
   
    }
}

@media(max-width:2300px){
    .best-match-title{
       
        font-size: 27px;
        padding: 20px 10px;
   
    }
}


@media(max-width:2000px){
    .best-match-title{
       
        font-size: 23px;
        padding: 15px 10px;
   
    }
}

@media(max-width:1700px){
    .best-match-title{
       
        font-size: 21px;
        padding: 12px 5px;
   
    }
}


@media(max-width:1400px){
    .best-match-title{
       
        font-size: 18px;
        padding: 10px 5px;
   
    }
}




@media(max-width:1200px){
    .best-match-title{
       
        font-size: 16px;
        padding: 10px 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}


@media(max-width:700px){
    .best-match-title{
       
        font-size: 14px;
        padding: 8px 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}
