.Left-Filter-Options{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 15%;
    padding-top: 183px;
    background-color: #fff;
    border-right: solid 2px rgba(0,0,0,0.2);;
    margin-left: 10%;

    
}
.LFOS-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    
    
}
.LFOS-title span{
    color: #2f2f2f;
    font-size: 50px;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
    
    
}
@media(max-width: 3400px){
    .LFOS-title{
        margin-top: 8px;
    }
    .LFOS-title span{
        font-size: 45px;
    }
}
@media(max-width: 3290px){
    /* .Left-Filter-Options{
        margin-left: 9%;
    } */
}
@media(max-width: 3200px){
    .Left-Filter-Options{
        padding-top: 183px;
    }
}
@media(max-width: 3110px){
    .Left-Filter-Options{
        margin-left: 7%;
    }
}
@media(max-width: 2900px){
    .Left-Filter-Options{
        padding-top: 178px;
    }
    .LFOS-title span{
        font-size: 37px;
    }
}
@media(max-width: 2870px){
    .Left-Filter-Options{
        margin-left: 5%;
    }
}
@media(max-width: 2800px){
    .Left-Filter-Options{
        padding-top: 175px;
    }
}
@media(max-width: 2740px){
    .Left-Filter-Options{
        margin-left: 3%;
    }
}
@media(max-width: 2590px){
    .Left-Filter-Options{
        margin-left: 2%;
    }
}
@media(max-width: 2500px){
    .Left-Filter-Options{
        padding-top: 166px;
    }
}
@media(max-width: 2485px){
    .Left-Filter-Options{
        margin-left: 0;
        
    }
    
} 
@media(max-width: 1500px){
    .Left-Filter-Options{
       
        
        width: 12%;
    }
    .LFOS-title{
        
        padding: 20px 0;
        margin-top: 50px;
    }
    .LFOS-title span{
      font-size: 20px;
    }
} 

@media(max-width: 1400px){
    .Left-Filter-Options{
        display: none;
    }
} 