.ALI{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ALI-col{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ALI-col-one, .ALI-col-two, .ALI-col-three{
    width: 30%;
}
.ALI-row{
    width: 100%;
   display: flex;
}
.ALI-confirm-button{
    margin: 10px 0;
    margin-left: 80px;
    cursor: pointer;
    border-radius: 10px;
}
.ALI-confirm-button li{
   
    color: #fff;
    padding: 10px 20px;
   
    list-style: none;
}
.ALI-confirm-button{
    background-color: #1333A6;
}
@media(max-width: 2100px){
    .ALI-col-one h2, .ALI-col-two h2, .ALI-col-three h2{
        font-size: 20px;
    }
    .ALI-confirm-button li{
   
        
        padding: 10px 20px;
       
        font-size: 15px;
    }
}
@media(max-width: 1800px){
    .ALI-col-one h2, .ALI-col-two h2, .ALI-col-three h2{
        font-size: 17px;
    }
    .ALI-confirm-button li{
   
        
        padding: 10px 20px;
       
        font-size: 13px;
    }
}
@media(max-width: 1600px){
    .ALI-col-one h2, .ALI-col-two h2, .ALI-col-three h2{
        font-size: 14px;
    }
    .ALI-confirm-button li{
   
        
        padding: 8px 15px;
       
        font-size: 10px;
    }
}

@media(max-width: 1400px){
    .ALI-col-one h2, .ALI-col-two h2, .ALI-col-three h2{
        font-size: 12px;
    }
    .ALI-confirm-button li{
   
        
        padding: 8px 15px;
       
        font-size: 8px;
    }
}


@media(max-width: 700px){
    .ALI-col-one h2, .ALI-col-two h2, .ALI-col-three h2{
        font-size: 10px;
    }
    .ALI-confirm-button li{
   
        
        padding: 8px 15px;
       
        font-size: 7px;
    }
}


@media(max-width: 400px){
    .ALI-col-one h2, .ALI-col-two h2, .ALI-col-three h2{
        font-size: 8px;
    }
    .ALI-confirm-button li{
   
        
        padding: 8px 15px;
       
        font-size: 6px;
    }
}