

.QFS{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.qfs-top{
    display: flex;
   flex-wrap: wrap;
    
    width: 100%;
}
.qfs-question, .qfs-label, .qfs-layout, .qfs-one, .qfs-two, .qfs-three{
    width: 100%
}
.qfs-question{
    font-size: 32px;
    margin-left: 40px;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.qfs-label{
    background-color: #1333A6;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 28px;

}
.qfs-one{
    
    width: 100%;
    padding: 40px 30px;
}
.qfs-label h2{
    margin-left: 30px;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.qfs-layout{
    
 
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.qfs-two{
    /* height: 0; */
    margin: 0px 70px;
    border-left: solid 2px rgba(0, 0, 0, 0.1);
    transition: ease 0.3s;
    padding: 20px 40px;
    
}
.qfs-three{
    transition: 0.3s ease;
    margin: 0px 50px;
    padding: 20px 0px;
}
.not-active{
    height: 0;
}
.no-display{
    display: none;
}
.qfs-text h2{
    margin-left: 20px;
    font-size: 38px;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 90%;
    
}
.qfs-option-box-container{
    display: flex;
    flex-wrap: wrap;
    
    margin: 15px 10px;
    
}
.qfs-option-box{
    width: 32px;
    height: 32px;
    border: solid 1px #2f2f2f;
    margin-top: 17px;
}
.qfs-active{
    background-color: #1333A6;
}
.qfs-option{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    
   
}
.qfs-option-off{
    height: 0;
}

.qfs-option-text{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 32px;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}
.qfs-address{
    display: flex;
    margin-left: 20px;
}
.qfs-address-input{
    width: 45%;
    
}
.qfs-address-input p{
    font-size: 32px;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.qfs-address-input input{
    width: 80%;
    height: 55px;
    padding: 0 20px;
    font-size: 28px;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.qfs-zip-input {
    width: 25%;
    
}
.qfs-zip-input p{
    font-size: 32px;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.qfs-zip-input  input{
    height: 55px;
    width: 60%;
    padding: 0 20px;
    font-size: 28px;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.zip-text p{
    color: red;
    text-decoration: underline;
    text-align: left;
    
}
.qfs-search{
    width: 15%;
}

.qfs-search-button{
    margin-top: 107px;
    padding: 5px 10px;
    font-size: 25px;
    background-color: #1333A6;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
    
}
.qfs-search-button li{
    text-align: center;
    list-style: none;
    padding: 8px 0;
}
.ofs-text-red{
    color: red;
    font-size: 25px;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 20px;
}




@media(max-width: 3400px){
    .qfs-question{
        font-size: 30px;
        
    }
    .qfs-label{
        
        font-size: 26px;
    }
    .qfs-text h2{
        
        font-size: 34px;
    }
    .qfs-option-box{
        width: 28px;
        height: 28px;
        
        margin-top: 15px;
    }
    .qfs-option-text{
    
        
        font-size: 30px;
        
    }
    .ofs-text-red{
        
        font-size: 25px;
    }
    .qfs-one{
    
        
        padding: 20px 30px;
    }
    .qfs-two{
        /* height: 0; */
        margin: 10px 50px;
        
        padding: 10px 20px;
        
    }
    .qfs-three{
        
        margin: 10px 30px;
        padding: 10px 0px;
    }
    .qfs-address-input p{
        font-size: 28px;
    }
    .qfs-zip-input p{
        font-size: 28px;
    }
    .qfs-search-button{
        margin-top: 100px;
        padding: 5px 0px;
        font-size: 22px;
       
        
    }
    
}

@media(max-width: 3000px){
    .qfs-question{
        font-size: 28px;
        
    }
    .qfs-label{
        
        font-size: 24px;
    }
    .qfs-text h2{
        
        font-size: 31px;
    }
    .qfs-option-box{
        width: 25px;
        height: 25px;
        
        margin-top: 12px;
    }
    .qfs-option-text{
    
        
        font-size: 28px;
        
    }
    .ofs-text-red{
        
        font-size: 22px;
    }
    .qfs-one{
    
        
        padding: 20px 30px;
    }
    .qfs-two{
        /* height: 0; */
        margin: 10px 50px;
        
        padding: 10px 20px;
        
    }
    .qfs-three{
        
        margin: 10px 30px;
        padding: 10px 0px;
    }
    .qfs-address-input p{
        font-size: 25px;
    }
    .qfs-zip-input p{
        font-size: 25px;
    }
    .qfs-search-button{
        margin-top: 85px;
        padding: 5px 0px;
        font-size: 22px;
       
        
    }
    .qfs-zip-input  input{
        height: 50px;
        width: 60%;
        padding: 0 20px;
        font-size: 25px;
        
    }
    .qfs-address-input input{
        width: 80%;
        height: 50px;
        padding: 0 20px;
        font-size: 25px;
        
    }
    
}
@media(max-width: 2600px){
    .qfs-question{
        font-size: 26px;
        
    }
    .qfs-label{
        
        font-size: 22px;
    }
    .qfs-text h2{
        
        font-size: 28px;
    }
    .qfs-option-box{
        width: 22px;
        height: 22px;
        
        margin-top: 12px;
    }
    .qfs-option-text{
    
        
        font-size: 25px;
        
    }
    .ofs-text-red{
        
        font-size: 20px;
    }
    .qfs-one{
    
        
        padding: 15px 30px;
    }
    .qfs-two{
        /* height: 0; */
        margin: 7px 50px;
        
        padding: 10px 20px;
        
    }
    .qfs-three{
        
        margin: 7px 30px;
        padding: 10px 0px;
    }
    .qfs-address-input p{
        font-size: 22px;
    }
    .qfs-zip-input p{
        font-size: 22px;
    }
    .qfs-search-button{
        margin-top: 77px;
        padding: 3px 0px;
        font-size: 20px;
       
        
    }
    .qfs-zip-input  input{
        height: 50px;
        width: 60%;
        padding: 0 20px;
        font-size: 22px;
        
    }
    .qfs-address-input input{
        width: 80%;
        height: 50px;
        padding: 0 20px;
        font-size: 22px;
        
    }
}

@media(max-width: 2300px){
    .qfs-question{
        font-size: 23px;
        
    }
    .qfs-label{
        
        font-size: 20px;
    }
    .qfs-text h2{
        
        font-size: 25px;
    }
    .qfs-option-box{
        width: 20px;
        height: 20px;
        
        margin-top: 8px;
    }
    .qfs-option-text{
    
        
        font-size: 22px;
        
    }
    .ofs-text-red{
        
        font-size: 17px;
    }
    .qfs-one{
    
        
        padding: 10px 30px;
    }
    .qfs-two{
        /* height: 0; */
        margin: 7px 50px;
        
        padding: 7px 20px;
        
    }
    .qfs-three{
        
        margin: 7px 30px;
        padding: 7px 0px;
    }
    .qfs-address-input p{
        font-size: 20px;
    }
    .qfs-zip-input p{
        font-size: 20px;
    }
    .qfs-search-button{
        margin-top: 70px;
        padding: 3px 0px;
        font-size: 18px;
       
        
    }
    .qfs-zip-input  input{
        height: 45px;
        width: 60%;
        padding: 0 20px;
        font-size: 20px;
        
    }
    .qfs-address-input input{
        width: 80%;
        height: 45px;
        padding: 0 20px;
        font-size: 20px;
        
    }
}

@media(max-width: 2000px){
    .qfs-question{
        font-size: 20px;
        
    }
    .qfs-label{
        
        font-size: 17px;
    }
    .qfs-text h2{
        
        font-size: 22px;
    }
    .qfs-option-box{
        width: 18px;
        height: 18px;
        
        margin-top: 5px;
    }
    .qfs-option-text{
    
        
        font-size: 19px;
        
    }
    .ofs-text-red{
        
        font-size: 14px;
    }
    .qfs-one{
    
        
        padding: 7px 30px;
    }
    .qfs-two{
        /* height: 0; */
        margin: 7px 50px;
        
        padding: 7px 20px;
        
    }
    .qfs-three{
        
        margin: 7px 30px;
        padding: 7px 0px;
    }
    .qfs-address-input p{
        font-size: 17px;
    }
    .qfs-zip-input p{
        font-size: 17px;
    }
    .qfs-search-button{
        margin-top: 58px;
        padding: 3px 0px;
        font-size: 15px;
       
        
    }
    .qfs-zip-input  input{
        height: 40px;
        width: 60%;
        padding: 0 20px;
        font-size: 18px;
        
    }
    .qfs-address-input input{
        width: 80%;
        height: 40px;
        padding: 0 20px;
        font-size: 18px;
        
    }
}




@media(max-width: 1700px){
    .qfs-question{
        font-size: 17px;
        
    }
    .qfs-label{
        
        font-size: 15px;
    }
    .qfs-text h2{
        
        font-size: 19px;
    }
    .qfs-option-box{
        width: 15px;
        height: 15px;
        
        margin-top: 2px;
    }
    .qfs-option-text{
    
        
        font-size: 16px;
        
    }
    .ofs-text-red{
        
        font-size: 12px;
    }
    .qfs-one{
    
        
        padding: 5px 20px;
    }
    .qfs-two{
        /* height: 0; */
        margin: 7px 40px;
        
        padding: 5px 10px;
        
    }
    .qfs-three{
        
        margin: 7px 20px;
        padding: 5px 0px;
    }
    .qfs-address-input p{
        font-size: 15px;
    }
    .qfs-zip-input p{
        font-size: 15px;
    }
    .qfs-search-button{
        margin-top: 50px;
        padding: 2px 0px;
        font-size: 13px;
       
        
    }
    .qfs-zip-input  input{
        height: 33px;
        width: 60%;
        padding: 0 20px;
        font-size: 15px;
        
    }
    .qfs-address-input input{
        width: 80%;
        height: 33px;
        padding: 0 20px;
        font-size: 15px;
        
    }
}

@media(max-width: 1400px){
    .qfs-question{
        font-size: 15px;
        
    }
    .qfs-label{
        
        font-size: 13px;
    }
    .qfs-text h2{
        
        font-size: 17px;
    }
    .qfs-option-box{
        width: 13px;
        height: 13px;
        
        margin-top: 0px;
    }
    .qfs-option-text{
    
        
        font-size: 14px;
        
    }
    .ofs-text-red{
        
        font-size: 11px;
    }
    .qfs-one{
    
        
        padding: 5px 15px;
    }
    .qfs-two{
        /* height: 0; */
        margin: 7px 30px;
        
        padding: 5px 10px;
        
    }
    .qfs-three{
        
        margin: 7px 20px;
        padding: 5px 0px;
    }
    .qfs-address-input p{
        font-size: 13px;
    }
    .qfs-zip-input p{
        font-size: 13px;
    }
    .qfs-search-button{
        margin-top: 45px;
        padding: 0px 0px;
        font-size: 11px;
       
        
    }
    .qfs-zip-input  input{
        height: 28px;
        width: 60%;
        padding: 0 20px;
        font-size: 13px;
        
    }
    .qfs-address-input input{
        width: 80%;
        height: 28px;
        padding: 0 20px;
        font-size: 13px;
        
    }
}


@media(max-width: 900px){
    .qfs-question{
        font-size: 13px;
        
    }
    .qfs-label{
        
        font-size: 11px;
    }
    .qfs-text h2{
        
        font-size: 14px;
    }
    .qfs-option-box{
        width: 11px;
        height: 11px;
        
        margin-top: 0px;
    }
    .qfs-option-text{
        margin-top: 3px;
        
        font-size: 12px;
        
    }
    .ofs-text-red{
        
        font-size: 10px;
    }
    .qfs-one{
    
        
        padding: 5px 10px;
    }
    .qfs-two{
        /* height: 0; */
        margin: 5px 20px;
        
        padding: 5px 5px;
        
    }
    .qfs-three{
        
        margin: 5px 10px;
        padding: 5px 0px;
    }
    .qfs-address-input p{
        font-size: 11px;
    }
    .qfs-zip-input p{
        font-size: 11px;
    }
    .qfs-search-button{
        margin-top: 37px;
        padding: 0px 0px;
        font-size: 10px;
       
        
    }
    .qfs-zip-input  input{
        height: 25px;
        width: 60%;
        padding: 0 10px;
        font-size: 11px;
        
    }
    .qfs-address-input input{
        width: 80%;
        height: 25px;
        padding: 0 10px;
        font-size: 11px;
        
    }
}


@media(max-width: 700px){
    .qfs-question{
        font-size: 11px;
        
    }
    .qfs-label{
        
        font-size: 10px;
    }
    .qfs-text h2{
        
        font-size: 12px;
    }
    .qfs-option-box{
        width: 9px;
        height: 9px;
        
        margin-top: 3px;
    }
    .qfs-option-text{
        margin-top: px;
        
        font-size: 10px;
        
    }
    .ofs-text-red{
        
        font-size: 9px;
    }
    .qfs-one{
    
        
        padding: 0px 5px;
    }
    .qfs-two{
        /* height: 0; */
        margin: 0px 15px;
        
        padding: 0px 5px;
        
    }
    .qfs-three{
        
        margin: 0px 5px;
        padding: 0px 0px;
    }
    .qfs-address-input p{
        font-size: 10px;
    }
    .qfs-zip-input p{
        font-size: 10px;
    }
    .qfs-search-button{
        margin-top: 32px;
        padding: 0px 0px;
        font-size: 9px;
       
        
    }
    .qfs-zip-input  input{
        height: 20px;
        width: 60%;
        padding: 0 10px;
        font-size: 10px;
        
    }
    .qfs-address-input input{
        width: 80%;
        height: 20px;
        padding: 0 10px;
        font-size: 10px;
        
    }
    .qfs-option-box-container{
      
        
        margin: 10px 10px;
        
    }
}



