.QF-Button{
    padding: 10px 30px;
    margin: 0 20px;
    border: 2px solid #2f2f2f;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: ease 0.3s;
}
.QF-Button-label span{
    font-size: 10px;
}
.QF-Button-details span{
    font-size: 28px;
}



.active{
    background-color: #EA2335;
    color: #fff;
    border: none;
}
@media(max-width: 2200px){
    .QF-Button-label span{
        font-size: 9px;
    }
    .QF-Button-details span{
        font-size: 22px;
    }
}

@media(max-width: 2000px){
   
}
@media(max-width: 1800px){
    .QF-Button{
        padding: 5px 20px;
    } 
    .QF-Button-label span{
        font-size: 9px;
    }
    .QF-Button-details span{
        font-size: 15px;
    }
}@media(max-width: 1500px){
    .QF-Button{
        padding: 2px 20px;
    } 
    .QF-Button-label span{
        font-size: 7px;
    }
    .QF-Button-details span{
        font-size: 11px;
    }
}
@media(max-width: 1400px){
    .QF-Button{
        padding: 10px 20px;
        
    } 
    .QF-Button-label span{
        font-size: 10px;
    }
    .QF-Button-details span{
        font-size:20px;
    }
}
@media(max-width: 1300px){
    .QF-Button{
        padding: 10px;
        width: 30%;
        text-align: center;
        margin: 10px;
    } 
    .QF-Button-label span{
        font-size: 20px;
    }
    .QF-Button-details span{
        font-size:28px;
    }
}
@media(max-width: 1000px){
    .QF-Button{
        padding: 10px 5px;
        width: 30%;
        text-align: center;
        margin: 10px;
    } 
    .QF-Button-label span{
        font-size: 16px;
    }
    .QF-Button-details span{
        font-size: 23px;
    }
}
@media(max-width: 900px){
    .QF-Button{
        padding: 5px 0px;
        width: 30%;
        text-align: center;
        margin: 10px;
    } 
    .QF-Button-label span{
        font-size: 12px;
    }
    .QF-Button-details span{
        font-size: 18px;
    }
}
@media(max-width: 700px){
    .QF-Button{
        padding: 3px 0px;
        width: 30%;
        text-align: center;
        margin: 10px;
        border-radius: 7px;
    } 
    .QF-Button-label span{
        font-size: 10px;
    }
    .QF-Button-details span{
        font-size: 15px;
    }
}
@media(max-width: 500px){
    .QF-Button{
        padding: 0px 0px;
        width: 30%;
        text-align: center;
        margin: 10px;
        border-radius: 7px;
    } 
    .QF-Button-label span{
        font-size: 7px;
    }
    .QF-Button-details span{
        font-size: 12px;
    }
}
@media(max-width: 400px){
    .QF-Button{
        padding: 0px 0px;
        width: 25%;
        text-align: center;
        margin: 5px 10px;
        border-radius: 7px;
    } 
    .QF-Button-label span{
        font-size: 6px;
    }
    .QF-Button-details span{
        font-size: 10px;
    }
}
