


.QF-Button{
    padding: 10px 30px;
    margin: 0 20px;
    border: 2px solid #2f2f2f;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: ease 0.3s;
}
.QF-Button-label span{
    font-size: 20px;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.QF-Button-details span{
    font-size: 37px;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
}



.active{
    background-color: #EA2335;
    color: #fff;
    border: none;
}
@media(max-width: 2900px){
    .QF-Button-label span{
        font-size: 18px;
    }
    .QF-Button-details span{
        font-size: 30px;
    }
}

@media(max-width: 2200px){
    .QF-Button-label span{
        font-size: 13px;
    }
    .QF-Button-details span{
        font-size: 22px;
    }
}

@media(max-width: 2000px){
    .QF-Button-label span{
        font-size: 11px;
    }
    .QF-Button-details span{
        font-size: 19px;
    }
}
@media(max-width: 1800px){
    .QF-Button{
        padding: 5px 20px;
    } 
    
}@media(max-width: 1600px){
    /* .QF-Button{
        padding: 2px 20px;
    }  */
    .QF-Button-label span{
        font-size: 9px;
    }
    .QF-Button-details span{
        font-size: 17px;
    }
}
@media(max-width: 1500px){
    /* .QF-Button{
        padding: 2px 20px;
    }  */
    .QF-Button-label span{
        font-size: 7px;
    }
    .QF-Button-details span{
        font-size: 15px;
    }
}
@media(max-width: 1400px){
    .QF-Button{
        padding: 10px 20px;
        
    } 
    .QF-Button-label span{
        font-size: 13px;
    }
    .QF-Button-details span{
        font-size:22px;
    }
}
@media(max-width: 1200px){
    /* .QF-Button{
        padding: 10px;
        width: 30%;
        text-align: center;
        margin: 10px;
    }  */
    .QF-Button-label span{
        font-size: 11px;
    }
    .QF-Button-details span{
        font-size:18px;
    }
}
@media(max-width: 1000px){
    
    .QF-Button-label span{
        font-size: 9px;
    }
    .QF-Button-details span{
        font-size: 14px;
    }
}
@media(max-width: 800px){
    .QF-Button{
        padding: 7px 15px;
       
    } 
    .QF-Button-label span{
        font-size: 8px;
    }
    .QF-Button-details span{
        font-size: 12px;
    }
}
/* @media(max-width: 700px){
    .QF-Button{
        padding: 3px 0px;
        width: 30%;
        text-align: center;
        margin: 10px;
        border-radius: 7px;
    } 
    .QF-Button-label span{
        font-size: 10px;
    }
    .QF-Button-details span{
        font-size: 15px;
    }
} */
@media(max-width: 700px){
    .QF-Button{
        padding: 7px 0px;
        width: 50%;
        text-align: center;
        
        border-radius: 7px;
    } 
    .QF-Button-label span{
        font-size: 10px;
    }
    .QF-Button-details span{
        font-size: 16px;
    }
}
@media(max-width: 600px){
    .QF-Button{
        padding: 5px 0px;
        width: 45%;
        text-align: center;
        
        border-radius: 7px;
    } 
    .QF-Button-label span{
        font-size: 8px;
    }
    .QF-Button-details span{
        font-size: 14px;
    }
}
@media(max-width: 400px){
    .QF-Button{
        padding: 0px 0px;
        width: 25%;
        text-align: center;
        margin: 5px 10px;
        border-radius: 7px;
        
    } 
    .QF-Button-label span{
        font-size: 6px;
    }
    .QF-Button-details span{
        font-size: 10px;
    }
}
