.FRS{
    background-color: #1333A6;
    display: flex;
    flex-wrap: wrap;
    
    
    margin-left: 1%;
    width: 96%;
   
    padding-top: 20px;
    padding-bottom: 60px;
    border-radius: 20px;
    margin-top: 20px;
    
   
}
.FRS-title{
    width: 100%;
    
}
.FRS-title h2{
    color: #fff;
    font-size: 30px;
    margin-left: 40px;
}
.FRS-card-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 40px;
}

@media(max-width: 3100px){
    .FRS{
        margin-top: 40px;
    }
}

@media(max-width: 2870px){
   
}
@media(max-width: 2400px){
   .FRS{
       width: 98%;
   } 
   
}
@media(max-width: 2200px){
    .FRS{
        margin-top: 20px;
    }
}

@media(max-width: 1900px){
    .FRS-card-section{
       
        padding: 0 10px;
    }
    .FRS-title h2{
        
        font-size: 25px;
        
    }
}

@media(max-width: 1500px){
    .FRS-card-section{
       
        padding: 0px;
    }
    .FRS-title h2{
        
        font-size: 25px;
        
    }
}

@media(max-width: 1400px){
    .FRS{
        padding-top: 10px;
        padding-bottom: 30px;
        
    }
    .FRS-title h2{
        
        font-size: 22px;
        
    }
}

@media(max-width: 1000px){
    .FRS{
        margin-top: 40px;
    }
}