.Other-Filters{
    width: 50%;
    margin-top: 110px;
}
.of-info span{
    font-size: 30px;
    font-weight: bold;
}
.of-info span:nth-child(1), .of-info span:nth-child(3){
    text-decoration: underline;
}
.of-options{
    display: flex;
    margin-top: 10px;
}
.of-options span{
    font-size: 20px;
}
.of-option{
    margin: 0 10px;
}
@media(max-width:3100px){
    .of-info span{
        font-size: 28px;
        
    }
}
@media(max-width:2900px){
    .Other-Filters{
        
        margin-top: 80px;
    }
}
@media(max-width:2400px){
    .of-info span{
        font-size: 25px;
        
    }
}
@media(max-width:2200px){
    .of-info span{
        font-size: 20px;
        
    }
    .Other-Filters{
        
        margin-top: 70px;
    }
}
@media(max-width:2000px){
    .of-info span{
        font-size: 18px;
        
    }
    .Other-Filters{
        
        margin-top: 70px;
    }
}
@media(max-width:1800px){
    .of-info span{
        font-size: 16px;
        
    }
    .Other-Filters{
        
        margin-top: 70px;
    }
}


@media(max-width:1600px){
    .of-info span{
        font-size: 14px;
        
    }
    .Other-Filters{
        
        margin-top: 60px;
    }
}

@media(max-width:1500px){
    .of-info span{
        font-size: 12px;
        
    }
    .Other-Filters{
        
        margin-top: 50px;
    }
}
