.Other-Filters{
    width: 92%;
    margin-top: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.of-info span{
    font-size: 34px;
    font-weight: bold;
    font-family: "industry", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.of-info span:nth-child(1), .of-info span:nth-child(3){
    text-decoration: underline;
    font-family: "industry", sans-serif;
    font-weight: 800;
    font-style: normal;
}
.of-options{
    display: flex;
    margin-top: 10px;
}
.of-options span{
    font-size: 20px;
}
.of-option{
    margin: 0 10px;
}
.of-zipcode-pop{
    width: 100%;
    text-align: center;
    
}
@media(max-width:3290px){
    .Other-Filters{
        width: 93%;
    }
}
@media(max-width:3110px){
    .Other-Filters{
        width: 96%;
    }
}
@media(max-width:3100px){
    .of-info span{
        font-size: 32px;
        
    }
}
@media(max-width:2900px){
    .Other-Filters{
        
        margin-top: 100px;
    }
    .of-info span{
        font-size: 28px;
    }
}
@media(max-width:2870px){
    .Other-Filters{
        width: 97%;
    }
}
@media(max-width:2740px){
    .Other-Filters{
        width: 98%;
    }
}
@media(max-width:2590px){
    .Other-Filters{
        width: 98%;
    }
}
@media(max-width:2500px){
    .of-info span{
        font-size: 28px;
        
    }
}
@media(max-width:2490px){
    .Other-Filters{
        width: 100%;
    }
}
@media(max-width:2200px){
    .of-info span{
        font-size: 25px;
        
    }
    .Other-Filters{
        
        margin-top: 80px;
    }
}

@media(max-width:2000px){
    .of-info span{
        font-size: 22px;
        
    }
    .Other-Filters{
        
        margin-top: 80px;
    }
}
@media(max-width:1800px){
    .of-info span{
        font-size: 20px;
        
    }
    .Other-Filters{
        
        margin-top: 75px;
    }
}


@media(max-width:1600px){
    .of-info span{
        font-size: 18px;
        
    }
    .Other-Filters{
        
        margin-top: 70px;
    }
}

@media(max-width:1500px){
    .of-info span{
        font-size: 15px;
        
    }
    .Other-Filters{
        
        margin-top: 60px;
    }
}
@media(max-width:1400px){
    .of-info span{
        font-size: 18px;
        
    }
    .Other-Filters{
        
        margin-top: 30px;
    }
}

@media(max-width:1400px){
    .of-info span{
        font-size: 16px;
        
    }
    .Other-Filters{
        
        margin-top: 30px;
    }
}

@media(max-width:1200px){
    .of-info span{
        font-size: 15px;
        
    }
    .Other-Filters{
        
        margin-top: 20px;
    }
}
@media(max-width:1100px){
    .of-info span{
        font-size: 14px;
        
    }
    .Other-Filters{
        
        margin-top: 20px;
    }
    
}

@media(max-width:800px){
    .of-info span{
        font-size: 12px;
        
    }
    .Other-Filters{
        
        margin-top: 10px;
    }
    
}


@media(max-width:600px){
    .of-info span{
        font-size: 11px;
        
    }
    .Other-Filters{
        
        margin-top: 10px;
    }
    
}
