.INBT{
    border: 1px solid red;
    border-radius: 10px;
    margin-top: 50px;
    padding: 20px 50px;
    width: 85%;
    font-size: 26px;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
}

@media(max-width:3000px){
    .INBT{
        font-size: 23px;
    }
}

@media(max-width:2600px){
    .INBT{
        font-size: 21px;
    }
}
@media(max-width:2300px){
    .INBT{
        font-size: 18px;
        padding: 10px 40px;
    }
}

@media(max-width:2000px){
    .INBT{
        font-size: 15px;
        padding: 10px 30px;
    }
}



@media(max-width: 1600px){
    .INBT{
        margin-top: 30px;
       font-size: 12px;
        padding: 5px 10px;
    }
}

@media(max-width: 1400px){
    .INBT{
        margin-top: 20px;
       font-size: 10px;
        padding: 5px 10px;
    }
}

@media(max-width: 700px){
    .INBT{
        margin-top: 20px;
       font-size: 8px;
        padding: 5px 10px;
    }
}

@media(max-width: 400px){
    .INBT{
        margin-top: 20px;
       font-size: 6px;
        padding: 5px 10px;
        margin-left: 5px;
    }
}