.LFOS{
    width: 90%;
    
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    
}
.LFOS-0{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.LFOS-1{
    border-top: 1px solid rgba(0,0,0,0.1);
}
.LFOS-Label{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 35px;
    color: #1333A6;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.LFOS-options{
    margin-top: 10px;
}

.LFOS-option{
    
    color: #2f2f2f;
   cursor: pointer;
   
   border-radius: 20px;
   transition: ease 0.3s;
   padding: 20px 10px;
   font-family: "industry", sans-serif;
   font-weight: 500;
   font-style: normal;
   
}
.LFOS-option:hover{
    background-color: #f9f9f9;
    /* border: 1px solid rgba(0,0,0,0.05); */
}
.checkbox{
    display: flex;
}
.checkbox-square{
    height: 23px;
    width: 23px;
    background-color: #fff;
    border: solid 1px black;
}
.checked{
    background-color: royalblue;
}
.checkbox span{
    margin-left: 20px;
    font-size: 28px;
}
@media(max-width: 3400px){
    .checkbox span{
        font-size: 25px;
    }
    .LFOS-option{
        padding: 15px;
    }
    .LFOS-Label{
       
        font-size: 32px;
      
    }
}
@media(max-width: 2900px){
    .LFOS-Label{
        font-size: 28px;
    }
    .checkbox span{
        font-size: 22px;
    }
}

@media(max-width: 2485px){
    .LFOS{
        
      padding-left: 40px;
        
    }
   
}

@media(max-width: 2200px){
    
    .LFOS-Label{
     
        font-size: 25px;
        
    }
    .checkbox-square{
        height: 20px;
        width: 20px;
        
        
    }
    .checkbox span{
        font-size: 19px;
    }
}
@media(max-width: 2000px){
    .LFOS{
        
      padding-left: 20px;
        
    }
    /* .LFOS-option{
    
    
       padding: 14px 0px;
       
    } */
    .LFOS-Label{
     
        font-size: 22px;
        
    }
    .checkbox-square{
        height: 18px;
        width: 18px;
        
        border: solid 1px black;
    }
    .checkbox span{
        font-size: 17px;
    }
}
@media(max-width: 1800px){
    .LFOS{
        
      padding-left: 20px;
        
    }
    .LFOS-option{
    
    
       padding: 12px 0px;
    }
    .LFOS-Label{
     
        font-size: 20px;
        
    }
    .checkbox-square{
        height: 15px;
        width: 15px;
        
        border: solid 1px black;
    }
    .checkbox span{
        font-size: 15px;
        margin-left: 10px;
    }
}
@media(max-width: 1800px){
    
    .LFOS-option{
    
    
       padding: 10px 0px;
    }
    .LFOS-Label{
     
        font-size: 17px;
        
    }
    .checkbox-square{
        height: 13px;
        width: 13px;
        
        border: solid 1px black;
        margin-top: 2px;
    }
    .checkbox span{
        font-size: 13px;
        margin-left: 10px;
    }
}


@media(max-width: 1500px){
    .LFOS{
        
      padding-left: 10px;
        
    }
    .LFOS-option{
    
    
       padding: 10px 0px;
    }
    .LFOS-Label{
     
        font-size: 15px;
        
    }
    .checkbox-square{
        height: 13px;
        width: 13px;
        
        border: solid 1px black;
    }
    .checkbox span{
        font-size: 12px;
        margin-left: 8px;
        
    }
}
