.Rrs{
    
   
    width: 20%;
  
    
    
}

.Rrs-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.Rrs-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}