.Rrs{
    
   
    width: 20%;
  
    padding-top: 50px;
    
}

.Rrs-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.Rrs-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
@media(max-width: 1200px){
    .Rrs{
        width: 30%;
    }
}
@media(max-width: 1100px){
    .Rrs{
        display: none;
    }
}