

.RF{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
   
   
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    
    
}
.form-title{
    padding: 8px 0;
    background-color: #1333A6;
    color: #fff;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    font-size: 23px;
    font-family: "industry", sans-serif;
    font-weight: 700;
    font-style: normal;
    
}
.form-title h2{
    margin-left: 20px;
}

.form-first-name, .form-btn, .form-last-name, .form-email, .form-phone, .form-address, .form-city, .form-state, .form-zipcode,.form-SSN, .form-form-submit, .form-form-title{
    width: 100%;
    margin: 10px 0;
}
.form-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-btn input{
    padding: 25px 0px;
    background-color: #fff; 
    border-radius: 15px;
}

.form-sec-one{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.form-sec-one-one{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    
}
.form-sec-one-two{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
   
}
.form-label{
    margin: 10px 0;
    margin-left: 63px;
    font-size: 26px;
    font-family: "industry", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.form-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.form-input input{ 
    width: 80%;
    height: 55px;
    font-size: 28px;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 2px 20px;
    border-radius: 7px;
}
.form-DOB{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    
}
.DOB-input{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.DOB-input input{
    width: 160px;
    height: 55px;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-size: 28px;
    font-style: normal;
    padding: 2px 20px;
    border-radius: 7px;
    margin: 0 25px;
}
.form-sec-two{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    
}
.form-sec-two-one{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 65px;
}

.form-sec-two li{
    list-style: none;
    font-size: 24px;
    font-family: "industry", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.form-sec-two-two{
    margin-top: 20px;
    margin-left: 65px;
}
.form-sec-two-two li{
    color: #1333A6;
    font-weight: bold;
    
}
.form-sec-two-square{
    width: 18px;
    height: 18px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 2px;
    margin-right: 20px;
}
.forn-sec-two-two{
    width: 100%;
}
.form-sec-three{
    width: 100%;
    padding-top: 60px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 0;
    display: none;
    transition: 0.3s ease;
}
.form-sec-three-slide{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.form-sec-three-one{
    width: 80%;
    margin-left: 30px;
}
.form-sec-three-two{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    
}
.side-a, .side-b{
    width: 50%;
}
.state-zip{
    display: flex;
}
.form-label-state{
    margin-bottom: 5px;
    margin-left: 63px;
    font-size: 28px;
    font-family: "industry", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.form-input-state, .form-input-zipcode{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-input-state input, .form-input-zipcode input{
    width: 60%;
    height: 55px;
    font-family: "industry", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 2px 20px;
    border-radius: 7px;
    font-size: 28px;
}

.form-SSN{
    margin-top: 60px;
}

.UCC-label{
    background-color: #1333A6;
    padding: 8px 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-family: "industry", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
   
}
.UCC-label h2{
    color: #fff;
   margin-left: 30px;

}
.UCC-UI{
    padding: 20px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.UCC-desc-one, .UCC-desc-two, .UCC-desc-three{
    margin: 30px 30px;
    font-size: 24px;
    font-family: "industry", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.UCC-desc-three{
    font-weight: 600;
}
.UCC-form-label{
    width: 100%;
    margin: 30px;
    font-family: "industry", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}
.UCC-form-input{
    width: 100%;
    margin: 30px;
}
.UCC-form-input input{
    width: 40%;
    height: 55px;
    font-size: 24px;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 2px 20px;
    border-radius: 7px;
}
.UCC-form-checkbox{
    width: 100%;
    display: flex;
}
.UCC-form-checkbox-square{
    width: 25px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-left: 40px;
}
.UCC-form-checkbox-text{
    width: 90%;
    margin-left: 20px;
    font-size: 22px;
    font-family: "industry", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.form-sec-three-one{
    font-size: 20px;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
}


@media(max-width: 3000px){
    .form-label{
        font-size: 24px;
    }
    .form-label-state{
        margin-bottom: 5px;
        margin-left: 63px;
        font-size: 24px;
  
    }
     .form-input input{ 
         width: 80%;
         height: 45px;
         font-size: 24px;
        
     }
     .DOB-input input{
         width: 110px;
         height: 45px;
         
         
         margin: 0 25px;
         font-size: 24px;
     }
     .form-sec-two-one{
        
         margin-top: 30px;
         margin-left: 45px;
     }
     .form-sec-two-two{
         margin-top: 20px;
         margin-left: 45px;
     }
     .form-input-state input, .form-input-zipcode input{
         width: 60%;
         height: 45px;
         font-size: 24px;
         
        
     }
     .UCC-label{
         
         padding: 8px 10px;
         font-size: 23px;
        
     }
     .UCC-form-label{
         font-size: 24px;
     }
    
     .UCC-form-checkbox-text{
        width: 90%;
        margin-left: 20px;
        font-size: 20px;
        
    }
    .form-sec-two-square{
        width: 21px;
        height: 21px;
      
    }
     .UCC-form-checkbox-square{
        width: 21px;
        height: 21px;
        
        margin-left: 40px;
    }
     .UCC-desc-one, .UCC-desc-two, .UCC-desc-three{
        margin: 30px 30px;
        font-size: 22px;
       
    }
    
  
     .UCC-form-input input{
         width: 60%;
         height: 45px;
         font-size: 24px;
         
       
     }
 
 
    
    
     .form-sec-two li{
         
         font-size: 21px;
     }
     .form-sec-three-one{
        font-size: 20px;
  
    }
     
 }



 @media(max-width: 2500px){
    .form-label{
        font-size: 22px;
    }
    .form-label-state{
        margin-bottom: 5px;
        margin-left: 63px;
        font-size: 22px;
     
    }
     .form-input input{ 
         width: 80%;
         height: 40px;
         font-size: 22px;
        
     }
     .DOB-input input{
         width: 100px;
         height: 40px;
         
         
         margin: 0 25px;
         font-size: 22px;
     }
     .form-sec-two-one{
        
         margin-top: 30px;
         margin-left: 45px;
     }
     .form-sec-two-two{
         margin-top: 20px;
         margin-left: 45px;
     }
     .form-input-state input, .form-input-zipcode input{
         width: 60%;
         height: 40px;
         font-size: 22px;
         
        
     }
     .UCC-label{
         
         padding: 5px 10px;
         font-size: 22px;
        
     }
     .UCC-form-label{
         font-size: 22px;
     }
    
     .UCC-form-checkbox-text{
        width: 90%;
        margin-left: 20px;
        font-size: 18px;
        
    }
    .form-sec-two-square{
        width: 19px;
        height: 19px;
      
    }
     .UCC-form-checkbox-square{
        width: 19px;
        height: 19px;
        
        margin-left: 40px;
    }
     .UCC-desc-one, .UCC-desc-two, .UCC-desc-three{
        margin: 25px 30px;
        font-size: 19px;
       
    }
    
  
     .UCC-form-input input{
         width: 60%;
         height: 40px;
         font-size: 22px;
         
       
     }
 
 
    
    
     .form-sec-two li{
         
         font-size: 19px;
     }
     .form-sec-three{
        
        padding-top: 35px;
 
    }
     .form-sec-three-one{
        font-size: 18px;
  
    }
     
 }

@media(max-width: 2300px){
    .UCC-label{
         
        padding: 5px 10px;
        font-size: 20px;
       
    }
}
@media(max-width: 2200px){
    .form-label{
        font-size: 20px;
    }
    .form-label-state{
        margin-bottom: 5px;
        margin-left: 63px;
        font-size: 20px;
     
    }
     .form-input input{ 
         width: 80%;
         height: 35px;
         font-size: 20px;
        
     }
     .DOB-input input{
         width: 80px;
         height: 35px;
         
         
         margin: 0 25px;
         font-size: 20px;
     }
     .form-sec-two-one{
        
         margin-top: 30px;
         margin-left: 45px;
     }
     .form-sec-two-two{
         margin-top: 20px;
         margin-left: 45px;
     }
     .form-input-state input, .form-input-zipcode input{
         width: 60%;
         height: 35px;
         font-size: 20px;
         
        
     }
   
     .UCC-form-label{
         font-size: 20px;
     }
    
     .UCC-form-checkbox-text{
        width: 90%;
        margin-left: 20px;
        font-size: 15px;
        
    }
    .form-sec-two-square{
        width: 16px;
        height: 16px;
      
    }
     .UCC-form-checkbox-square{
        width: 16px;
        height: 16px;
        
        margin-left: 40px;
    }
     .UCC-desc-one, .UCC-desc-two, .UCC-desc-three{
        margin: 20px 30px;
        font-size: 17px;
       
    }
    
  
     .UCC-form-input input{
         width: 60%;
         height: 35px;
         font-size: 20px;
         
       
     }
 
 
    
    
     .form-sec-two li{
         
         font-size: 17px;
     }
     .form-sec-three{
        
        padding-top: 35px;
 
    }
     .form-sec-three-one{
        font-size: 16px;
  
    }
     
 }



 @media(max-width: 2000px){
    .UCC-label{
         
        padding: 03px 0px;
        font-size: 17px;
       
    }
}

@media(max-width: 1900px){
    .form-label{
        font-size: 18px;
    }
    .form-label-state{
        margin-bottom: 5px;
        margin-left: 63px;
        font-size: 18px;
     
    }
     .form-input input{ 
         width: 80%;
         height: 30px;
         font-size: 18px;
        
     }
     .DOB-input input{
         width: 60px;
         height: 30px;
         
         
         margin: 0 25px;
         font-size: 18px;
     }
     .form-sec-two-one{
        
         margin-top: 20px;
         margin-left: 45px;
     }
     .form-sec-two-two{
         margin-top: 10px;
         margin-left: 45px;
     }
     .form-input-state input, .form-input-zipcode input{
         width: 60%;
         height: 30px;
         font-size: 18px;
         
        
     }
   
     .UCC-form-label{
         font-size: 18px;
     }
    
     .UCC-form-checkbox-text{
        width: 90%;
        margin-left: 20px;
        font-size: 13px;
        
    }
    .form-sec-two-square{
        width: 13px;
        height: 13px;
      
    }
     .UCC-form-checkbox-square{
        width: 13px;
        height: 13px;
        
        margin-left: 40px;
    }
     .UCC-desc-one, .UCC-desc-two, .UCC-desc-three{
        margin: 15px 30px;
        font-size: 15px;
       
    }
    
  
     .UCC-form-input input{
         width: 60%;
         height: 30px;
         font-size: 18px;
         
       
     }
 
 
    
    
     .form-sec-two li{
         
         font-size: 15px;
     }
     .form-sec-three{
        
        padding-top: 25px;
 
    }
     .form-sec-three-one{
        font-size: 13px;
  
    }
     
 }
 @media(max-width: 1700px){
    .UCC-label{
         
        padding: 3px 0px;
        font-size: 14px;
       
    }
}

@media(max-width: 1600px){
    .form-label{
        font-size: 16px;
        margin: 5px 30px;
    }
    .form-label-state{
        margin-bottom: 5px;
        margin-left: 30px;
        font-size: 16px;
     
    }
     .form-input input{ 
         width: 80%;
         height: 25px;
         font-size: 16px;
        
     }
     .DOB-input input{
         width: 50px;
         height: 25px;
         
         
         margin: 0 15px;
         font-size: 16px;
     }
     .form-sec-two-one{
        
         margin-top: 20px;
         margin-left: 45px;
     }
     .form-sec-two-two{
         margin-top: 10px;
         margin-left: 45px;
     }
     .form-input-state input, .form-input-zipcode input{
         width: 60%;
         height: 25px;
         font-size: 16px;
         
        
     }
   
     .UCC-form-label{
         font-size: 16px;
         margin: 10px 30px;
     }
    
     .UCC-form-checkbox-text{
        width: 90%;
        margin-left: 10px;
        font-size: 11px;
        
    }
    .form-sec-two-square{
        width: 11px;
        height: 11px;
      
    }
     .UCC-form-checkbox-square{
        width: 11px;
        height: 11px;
        
        margin-left: 40px;
    }
     .UCC-desc-one, .UCC-desc-two, .UCC-desc-three{
        margin: 12px 30px;
        font-size: 13px;
       
    }
    .UCC-form-input{
        margin: 15px 30px;
    }
  
     .UCC-form-input input{
         width: 60%;
         height: 25px;
         font-size: 16px;
         
       
     }
 
 
    
    
     .form-sec-two li{
         
         font-size: 12px;
     }
     .form-sec-three{
        
        padding-top: 15px;
 
    }
     .form-sec-three-one{
        font-size: 12px;
  
    }
     
 }
 @media(max-width: 1400px){
    .UCC-label{
         
        padding: 3px 0px;
        font-size: 12px;
       
    }
}

 @media(max-width: 1300px)
{
    .DOB-input input{
        width: 50px;
        height: 25px;
        
        
        margin: 0 5px;
        font-size: 16px;
    }
}


@media(max-width:1100px){
    .DOB-input input{
        width: 60px;
        height: 25px;
        
        
        margin: 0 15px;
        font-size: 16px;
    }
}
/* 
@media(max-width: 900px){
    .form-title{
        padding: 0px 0;
       
    }
    .form-input input{ 
        width: 55%;
        height: 20px;
        
       
    }
    .DOB-input input{
        width: 40px;
        height: 20px;
        
        font-size: 10px;
        margin: 0 10px;
    }
    .form-sec-two-one{
       
        margin-top: 20px;
        margin-left: 45px;
    }
    .form-sec-two-two{
        margin-top: 20px;
        margin-left: 45px;
    }
    .form-input-state input, .form-input-zipcode input{
        width: 25%;
        height: 20px;
        
       
    }
    .UCC-label{
        
        padding: 3px 50px;
       
    }
    .form-sec-three{
    
        padding-top: 40px;
    }


    .form-sec-two li{
        
        font-size: 10px;
    }
    
    .form-sec-two-square{
        width: 12px;
        height: 12px;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
    .form-input-state input, .form-input-zipcode input{
        width: 25%;
        height: 20px;
        
       
    }
    .UCC-form-checkbox-text{
        font-size: 8px;
        margin-left: 10px;
    }
} */
/* 
@media(max-width: 700px){
    .form-title{
        padding: 0px 0;
       
    }
    
    .form-input input{ 
        width: 80%;
        height: 25px;
        font-size: 12px;
       
    }
    .DOB-input input{
        width: 60px;
        height: 25px;
        
        font-size: 10px;
        margin: 0 10px;
    }
    .form-sec-two-one{
       
        margin-top: 20px;
        margin-left: 45px;
    }
    .form-sec-two-two{
        margin-top: 20px;
        margin-left: 45px;
    }
    .form-input-state input, .form-input-zipcode input{
        width: 35%;
        height: 25px;
        font-size: 10px;
        
       
    }
    .UCC-label{
        
        padding: 3px 50px;
       
    }
    .form-sec-three{
    
        padding-top: 40px;
    }


    .form-sec-two li{
        
        font-size: 10px;
    }
    
    .form-sec-two-square{
        width: 12px;
        height: 12px;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }


    .form-sec-one-one{
        width: 100%;
        
        
    }
    .form-sec-one-two{
        width: 100%;
       
       
    }
    .side-a, .side-b{
        width: 100%;
    }
} */
@media(max-width:900px){
    .DOB-input input{
        width: 60px;
        height: 25px;
        
        
        margin: 0 7px;
        font-size: 16px;
    }
    .UCC-label{
         
        padding: 3px 0px;
        font-size: 11px;
       
    }
}
@media(max-width:800px){
    .DOB-input input{
        width: 50px;
        height: 25px;
        
        
        margin: 0 5px;
        font-size: 16px;
    }
    .UCC-label{
         
        padding: 3px 0px;
        font-size: 11px;
       
    }
}
@media(max-width: 700px){
    .form-label{
        font-size: 13px;
        margin: 5px 20px;
    }
    .form-label-state{
        margin-bottom: 5px;
        margin-left: 20px;
        font-size: 13px;
     
    }
     .form-input input{ 
         width: 80%;
         height: 20px;
         font-size: 13px;
        
     }
     .DOB-input input{
         width: 40px;
         height: 20px;
         
         
         margin: 0 5px;
         font-size: 13px;
     }
     .form-sec-two-one{
        
         margin-top: 20px;
         margin-left: 20px;
     }
     .form-sec-two-two{
         margin-top: 10px;
         margin-left: 20px;
     }
     .form-input-state input, .form-input-zipcode input{
         width: 60%;
         height: 20px;
         font-size: 13px;
         
        
     }
   
     .UCC-form-label{
         font-size: 13px;
         margin: 10px 20px;
     }
    
     .UCC-form-checkbox-text{
        width: 90%;
        margin-left: 10px;
        font-size: 10px;
        
    }
    .form-sec-two-square{
        width: 10px;
        height: 10px;
      
    }
     .UCC-form-checkbox-square{
        width: 10px;
        height: 10px;
        
        margin-left: 20px;
    }
     .UCC-desc-one, .UCC-desc-two, .UCC-desc-three{
        margin: 10px 20px;
        font-size: 11px;
       
    }
    .UCC-form-input{
        margin: 10px 20px;
    }
  
     .UCC-form-input input{
         width: 60%;
         height: 20px;
         font-size: 13px;
         
       
     }
 
 
    
    
     .form-sec-two li{
         
         font-size: 10px;
     }
     .form-sec-three{
        
        padding-top: 10px;
 
    }
     .form-sec-three-one{
        font-size: 10px;
        margin-left: 20px;
  
    }
    .UCC-label{
         
        padding: 2px 0px;
        font-size: 10px;
       
    }
     
 }



 