.ODT{
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.ODT-Label{
    background-color: #ccc;
    width: 100%;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 0;
}
.ODT-Label h2{
  margin-left: 50px;
  font-size: 40px;
  font-family: "industry", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.ODT-Details-Date, .ODT-Details-Address{
    width: 100%;
    display: flex;
}
.ODT-Details-Address1{
    margin: 10px 0;
    margin-left: 30px;
    
    font-size: 28px;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.ODT-Details-City{
    margin: 10px 0;
    margin-left: 30px;
    font-size: 28px;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;

    
}
.Details-SA-label{
    margin-left: 20px;
    font-size: 22px;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.Details-ST-label{
    margin-left: 20px;
    font-size: 22px;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.Details-SD-label{
    margin-left: 20px;
    font-size: 22px;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.Details-Esiid-label{
    margin-left: 20px;
    font-size: 22px;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.Details-Esiid{
    font-size: 28px;
    margin: 20px 0;
    margin-left: 30px;
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}
.ODT-Details-L, .ODT-Details-R{
    width: 50%;
}
.ODT-Details-R{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ODT-Details-R-BTN{
    margin-top: 30px;
}
.ODT-Details-R-BTN button{
    background-color: #1333A6;
    color: #fff;
    width: 200px;
    padding: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    font-family: "industry", sans-serif;
    font-weight: 600;
    font-style: normal;
}
@media(max-width: 3400px){
    .ODT-Label h2{
        
        font-size: 32px;
       
      }
    .Details-SA-label{
        margin-left: 20px;
        font-size: 19px;
    }
    .Details-ST-label{
        margin-left: 20px;
        font-size: 19px;
    }
    .Details-SD-label{
        margin-left: 20px;
        font-size: 19px;
    }
    .ODT-Details-Address1{
        margin: 5px 0;
        margin-left: 24px;
        
        font-size: 24px;
    }
    .ODT-Details-City{
        margin: 5px 0;
        margin-left: 24px;
        font-size: 24px;
    }
    .Details-Esiid-label{
        margin-left: 20px;
        font-size: 19px;
    }
    .Details-Esiid{
        font-size: 24px;
        margin: 8px 0;
        margin-left: 24px;
        
    }
    .ODT-Details-R-BTN button{
       
        width: 200px;
        padding: 8px 0;
       
        font-size: 22px;

    }
}
@media(max-width: 2800px){
    .Details-SA-label{
        margin-left: 20px;
        font-size: 17px;
    }
    .Details-ST-label{
        margin-left: 20px;
        font-size: 17px;
    }
    .Details-SD-label{
        margin-left: 20px;
        font-size: 17px;
    }
    .ODT-Details-Address1{
        margin: 5px 0;
        margin-left: 21px;
        
        font-size: 21px;
    }
    .ODT-Details-City{
        margin: 5px 0;
        margin-left: 21px;
        font-size: 21px;
    }
    .Details-Esiid-label{
        margin-left: 20px;
        font-size: 17px;
    }
    .Details-Esiid{
        font-size: 21px;
        margin: 8px 0;
        margin-left: 21px;
        
    }
    .ODT-Details-R-BTN button{
       
        width: 170px;
        padding: 7px 0;
       
        font-size: 20px;

    }
}
@media(max-width: 2500px){
    .Details-SA-label{
        margin-left: 20px;
        font-size: 14px;
    }
    .Details-ST-label{
        margin-left: 20px;
        font-size: 14px;
    }
    .Details-SD-label{
        margin-left: 20px;
        font-size: 14px;
    }
    .ODT-Details-Address1{
        margin: 5px 0;
        margin-left: 17px;
        
        font-size: 17px;
    }
    .ODT-Details-City{
        margin: 5px 0;
        margin-left: 17px;
        font-size: 17px;
    }
    .Details-Esiid-label{
        margin-left: 20px;
        font-size: 14px;
    }
    .Details-Esiid{
        font-size: 17px;
        margin: 8px 0;
        margin-left: 17px;
        
    }
    .ODT-Details-R-BTN button{
       
        width: 150px;
        padding: 8px 0;
       
        font-size: 18px;

    } 
}
@media(max-width: 2200px){
    .Details-SA-label{
        margin-left: 10px;
        font-size: 12px;
    }
    .Details-ST-label{
        margin-left: 10px;
        font-size: 12px;
    }
    .Details-SD-label{
        margin-left: 10px;
        font-size: 12px;
    }
    .ODT-Details-Address1{
        margin: 5px 0;
        margin-left: 14px;
        
        font-size: 14px;
    }
    .ODT-Details-City{
        margin: 5px 0;
        margin-left: 14px;
        font-size: 14px;
    }
    .Details-Esiid-label{
        margin-left: 10px;
        font-size: 12px;
    }
    .Details-Esiid{
        font-size: 14px;
        margin: 8px 0;
        margin-left: 14px;
        
    }
    .ODT-Details-R-BTN button{
       
        width: 130px;
        height: 40px;
        
    }
    .ODT-Label h2{
        margin-left: 50px;
        font-size: 21px;
     
      }
}
@media(max-width: 1900px){
    .Details-SA-label{
        margin-left: 10px;
        font-size: 10px;
    }
    .Details-ST-label{
        margin-left: 10px;
        font-size: 10px;
    }
    .Details-SD-label{
        margin-left: 10px;
        font-size: 10px;
    }
    .ODT-Details-Address1{
        margin: 5px 0;
        margin-left: 12px;
        
        font-size: 12px;
    }
    .ODT-Details-City{
        margin: 5px 0;
        margin-left: 12px;
        font-size: 12px;
    }
    .Details-Esiid-label{
        margin-left: 10px;
        font-size: 10px;
    }
    .Details-Esiid{
        font-size: 12px;
        margin: 8px 0;
        margin-left: 12px;
        
    }
    .ODT-Details-R-BTN button{
       
        width: 100px;
        height: 34px;
        font-size: 14px;
        
        
        
    }
    .ODT-Label h2{
        margin-left: 20px;
        font-size: 20px;
     
      }
}

@media(max-width: 1500px){
    .Details-SA-label{
        margin-left: 10px;
        font-size: 8px;
    }
    .Details-ST-label{
        margin-left: 10px;
        font-size: 8px;
    }
    .Details-SD-label{
        margin-left: 10px;
        font-size: 8px;
    }
    .ODT-Details-Address1{
        margin: 5px 0;
        margin-left: 12px;
        
        font-size: 8px;
    }
    .ODT-Details-City{
        margin: 5px 0;
        margin-left: 12px;
        font-size: 8px;
    }
    .Details-Esiid-label{
        margin-left: 10px;
        font-size: 8px;
    }
    .Details-Esiid{
        font-size: 10px;
        margin: 8px 0;
        margin-left: 10px;
        
    }
    .ODT-Details-R-BTN{
        margin-top: 20px;
     }
    .ODT-Details-R-BTN button{
      
        width: 80px;
        height: 20px;
        font-size: 10px;
    }
}

@media(max-width: 1300px){
    .Details-SA-label{
        margin-left: 10px;
        font-size: 6px;
    }
    .Details-ST-label{
        margin-left: 10px;
        font-size: 6px;
    }
    .Details-SD-label{
        margin-left: 10px;
        font-size: 6px;
    }
    .ODT-Details-Address1{
        margin: 5px 0;
        margin-left: 12px;
        
        font-size: 6px;
    }
    .ODT-Details-City{
        margin: 5px 0;
        margin-left: 12px;
        font-size: 6px;
    }
    .Details-Esiid-label{
        margin-left: 10px;
        font-size: 6px;
    }
    .Details-Esiid{
        font-size: 8px;
        margin: 8px 0;
        margin-left: 10px;
        
    }
    .ODT-Details-R-BTN{
        margin-top: 20px;
     }
    .ODT-Details-R-BTN button{
      
        width: 60px;
        height: 20px;
        font-size: 8px;
    }
}


@media(max-width: 1200px){
    .Details-SA-label{
        margin-left: 10px;
        font-size: 8px;
    }
    .Details-ST-label{
        margin-left: 10px;
        font-size: 8px;
    }
    .Details-SD-label{
        margin-left: 10px;
        font-size: 8px;
    }
    .ODT-Details-Address1{
        margin: 5px 0;
        margin-left: 12px;
        
        font-size: 8px;
    }
    .ODT-Details-City{
        margin: 5px 0;
        margin-left: 12px;
        font-size: 8px;
    }
    .Details-Esiid-label{
        margin-left: 10px;
        font-size: 8px;
    }
    .Details-Esiid{
        font-size: 10px;
        margin: 8px 0;
        margin-left: 10px;
        
    }
    .ODT-Details-R-BTN{
        margin-top: 20px;
     }
    .ODT-Details-R-BTN button{
      
        width: 80px;
        height: 20px;
        font-size: 10px;
    }
}