.Navbar{
    position: fixed;
    top: 0;
    z-index: 400;
    width: 100%;
    background-color: #fff;
    border-bottom: solid 2px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.1);
    display: flex;
    
}
.nav-logo{
    margin-left: 10%;
    width: 70%;
}
.nav-logo img{
    width: 230px;
    height: 70px;
}
.nav-b{
    display: none;

}
.nav-b-order{
    display: none;
}

.nav-button{
    font-family: "industry", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 7px ;
    border-radius: 18px;
    margin: 5px 5px;
    width: 170px;
    font-size: 17px;
    background: #1333A6;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.nav-button a{
    color: #fff;
    text-decoration: none;
}


@media(max-width: 2800px){
    .nav-logo img{
        width: 210px;
        height: 60px;
    }
}

@media(max-width: 2500px){
    .nav-logo img{
        width: 190px;
        height: 50px;
    }
}
@media(max-width: 2100px){
    .nav-logo img{
        width: 170px;
        height: 45px;
    }
}



@media(max-width: 1400px){
    .nav-logo img{
        width: 150px;
        height: 42px;
    }
    .nav-logo{
        margin-left: 5%;
    }
    .Navbar{
        
        
        box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
    }
    .nav-b{
        display: flex;
    }
}
@media(max-width: 1100px){
    .nav-b-order{
        display: flex;
    }
    
}

@media(max-width: 1000px){
    .nav-logo img{
        width: 130px;
        height: 38px;
    }
    .nav-logo{
        margin-left: 3%;
    }
    .nav-button{
        font-size: 15px;
    }
    .Navbar{
        
        
        box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
    }
}
@media(max-width: 900px){
    .nav-logo img{
        width: 120px;
        height: 35px;
    }
    .nav-logo{
        margin-left: 3%;
    }
    .nav-button{
        font-size: 13px;
        width: 130px;
    }
    .Navbar{
        
        
        box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
    }
}
@media(max-width: 700px){
    .nav-logo img{
        width: 100px;
        height: 30px;
    }
    .nav-logo{
        margin-left: 3%;
    }
    .nav-button{
        font-size: 11px;
        width: 130px;
    }
    
}

