.Form-BTN{
    
    width: 100%;
    
    
}
.Form-BTN button {
    margin: 20px 20px;
    padding: 10px 0;
    width: 300px;
    border-radius: 10px;
    font-size: 38px;
    cursor: pointer;
    color: #fff;
}
.back-btn button{
    background-color: #1333A6;
    
    
    float: left;
}
.next-btn button{
    background-color: red;
    float: right;
    
}
.disabled-btn button{
    background-color: #c9c9c9;
    color: #2f2f2f;
    cursor: default;
    float: right;
    
}

@media(max-width: 3000px){
    .Form-BTN button{
        
        width: 270px;
        font-size: 34px;
        
    }
    
}

@media(max-width: 2600px){
    .Form-BTN button{
        
        
        font-size: 30px;
        width: 250px;
    }
    
}

@media(max-width: 2300px){
    .Form-BTN button {
        
        
        font-size: 27px;
        width: 230px;
    }
    
}
@media(max-width: 2000px){
    .Form-BTN button {
        
        padding: 7px 0;
        font-size: 24px;
        width: 200px;
    }
    
}

@media(max-width: 1800px){
    .Form-BTN button {
        
        padding: 7px 0;
        font-size: 21px;
        width: 180px;
    }
    
}


@media(max-width: 1600px){
    .Form-BTN button {
        
        padding: 7px 0;
        font-size: 19px;
        width: 160px;
    }
    
}

@media(max-width: 1400px){
    .Form-BTN button {
        
        padding: 5px 0;
        font-size: 17px;
        width: 150px;
    }
    
}

@media(max-width: 1200px){
    .Form-BTN button {
        
        padding: 5px 0;
        font-size: 15px;
        width: 130px;
    }
    
}

@media(max-width: 900px){
    .Form-BTN button {
        
        padding: 5px 0;
        font-size: 13px;
        width: 120px;
    }
    
}

@media(max-width: 700px){
    .Form-BTN button {
        
        padding: 3px 0;
        font-size: 12px;
        width: 110px;
        border-radius: 7px;
    }
    
}


