.Form-BTN{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.Form-BTN input {
    margin: 20px 40px;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
}
.back-btn input{
    background-color: #1333A6;
    padding: 10px 20px;
    color: #fff;
}
.next-btn input{
    background-color: red;
    padding: 10px 20px;
    color: #fff;
}