.Form-BTN{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.Form-BTN button {
    margin: 20px 40px;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
}
.back-btn button{
    background-color: #1333A6;
    padding: 10px 20px;
    color: #fff;
}
.next-btn button{
    background-color: red;
    padding: 10px 20px;
    color: #fff;
}

@media(max-width: 2500px){
    .Form-BTN button{
        
        
        font-size: 22px;
        
    }
    
}

@media(max-width: 2100px){
    .Form-BTN button {
        
        
        font-size: 18px;
        
    }
    
}
@media(max-width: 1900px){
    .Form-BTN button {
        
        
        font-size: 16px;
        
    }
    
}