.RMS{
    width: 55%;
    
    margin: 0 10px;
    
}
@media(max-width: 3400px){
    .RMS{
        width: 58%;
    }
}

@media(max-width: 1200px){
    .RMS{
        width: 65%;
        margin-left: 0;
    }
}

@media(max-width: 1100px){
    .RMS{
        width: 100%;
        margin-left: 10px;
    }
}